* {box-sizing: border-box;}

:root {
    /* variables */
    --white: #faf8f7;
    --clay: #e9e6e4;
    --red: #FF4E42;
    --yellow: #ffc024;
    --blue: #1820EF;
    --black: #26221f;
    --shadow: #151210;
  }

  hr.featurette-divider {
    border-top: 1.5px solid #26221f;
    opacity: 1;
  }
  li > a {
    transition: transform 0.5s cubic-bezier(.64,-0.01,.38,1);
  }
  li > a:focus, li > a:active {
    outline: none !important; 
    box-shadow: none !important;
    transform: scale(0.985) !important;
  }

  h2 {
    font-weight: 420 !important;
  }
  h4 {
    font-weight: 400 !important;
  }
  
.pageNav .NavBar .dropdown-toggle {
    display: none;
}
.pageNav .nav-link:hover .dropdown-toggle {
    display: contents;
}
.pageNav .nav-link:focus .NavBar {
    color: var(--clay);
    background-color: var(--black) !important;
}
.pageNav .nav-link:focus .dropdown-toggle {
    display: contents;
}

.pageNav .dropdown-menu {
    position: relative;
    max-width: 255px;
    width: 100%;

    margin: 2px auto auto 1px;
    overflow: hidden;
    justify-items: center;

    background-color: var(--white);
    opacity: 1;
    background-size: 4px 4px;
    /* background-image: repeating-linear-gradient(-45deg, #959595 0, #959595 0.4px, #e9e6e4 0, #e9e6e4 50%); */
    border: #26221f solid 3px;
    border-radius: 15px;
}
.pageNav .dropdown-menu .subNavBar-nested h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    margin: 6px !important;
}
.pageNav .dropdown-menu .subNavBar-nested h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    margin: 15px !important;
}
.pageNav .dropdown-menu .subNavBar-nested h6 > div {
    position: relative;
    display: inline;
    top: 1.5px;
    /* margin-top: 15px !important; */
}
.pageNav .dropdown-menu .subNavBar-nested {
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
}
.pageNav .dropdown-menu .subNavBar-nested:hover {
    margin: 3% auto;
    background-color: var(--black);
    color: var(--white) !important;
}

.pageIntro {
    background-color: var(--white);
    opacity: 1;
    background-image:  linear-gradient(#26221f 0.4px, transparent 0.4px), linear-gradient(to right, #26221f 0.4px, #151210 0.4px);
    background-size: 8px 8px;
}
.pageIntro h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    font-weight: 600;
    color: var(--white);
}
.pageIntro h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-weight: 300;
    color: var(--white);
}
.pageIntro p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 100;
    color: var(--white);
}

.pageWork p {
    text-align: justify;
}

.comparison-slider-wrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 5% 0;
    background-color: white;
}
.comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 5px #e9e6e4 solid !important;
    box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider > img {
    width: 100%;
    height: auto;
    display: block;
}
.comparison-slider-wrapper .comparison-slider .overlay {
    display: none;
    position: absolute;
    width: 250px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    color: #ddd;
    text-align: right;
}
.comparison-slider-wrapper .comparison-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
.comparison-slider-wrapper .comparison-slider .resize > img {
    display: block;
}
.comparison-slider-wrapper .comparison-slider .resize .overlay {
    right: auto;
    left: 20px;
    text-align: left;
}

  /*set the appearance of the slider:*/
.comparison-slider-wrapper .comparison-slider .divider {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.2);
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    cursor: ew-resize;
}
.comparison-slider-wrapper .comparison-slider .divider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -9px;
    top: 50%;
    margin-top: -10px;
    /* background-color: white; */
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
    z-index: 9;
    cursor: ew-resize;
    background-color: var(--black);
    opacity: 0.7;
    border-radius: 50%;
}
.comparison-slider-wrapper .comparison-slider .divider.draggable:before {
    width: 30px;
    height: 30px;
    left: -14px;
    margin-top: -15px;
}
.comparison-slider-wrapper .caption {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-style: italic;
}
@media screen and (max-width: 992px) {
    .pageIntro {
        margin-top: 6% !important;
    }
}
@media screen and (max-width: 768px) {
    p {
        margin-top: 5% !important;
        margin-bottom: 5%;
    }
    .p_text {
        margin-bottom: 0% !important;
    }
    hr {
        margin-top: 10% !important;
    }
    .pageWork > div > div, .pageWork > div {
        margin: 0% !important;
        padding: 0% !important;
    }
    .pageWork h2 {
        text-align: center;
    }
    .design h4 {
        text-align: center !important;
    }
    .text_explain > div {
        border: none !important;
        margin: 3% auto !important;
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
    .tools_icon {
        margin-top: 5% !important;
        /* padding-top: 25% !important; */
    }
  }

  

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }