.intro-box{
margin: 0px;
padding: 0px 6%;

min-height: 300px;
height: fit-content;

background-color: #e9e6e4;
opacity: 1;
background-image: radial-gradient(#26221f 0.4px, #e9e6e4 0.4px);
background-size: 8px 8px;
}

.pageIntro {
  position: relative;
  top: 200px;
  left: 50%;

  width:100%;
  height: 100%;

  margin: 0% !important;
  padding: 10% 0% 5% 0;

  transform: translate(-50%, -50%);
  width: fit-content;
}

.container_welcome {
  position: relative;

  margin: 0%;
  padding: 0%;

  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.welcome {
  padding: 0.5vw 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 00.08em solid #26221f;

  font-family: 'IBM Plex Mono', monospace;

  font-weight: 700;
  font-size: 12vw;

  position: relative;
  margin-top: 0;
  margin-bottom: 0.5rem;
  animation: typing 3s steps(1, end) 0.1s forwards, blink-caret .42s step-end infinite alternate;
  }
  .welcome span {
    margin: 0%;
    padding: 0%;
  }
  .welcome .letter {
    margin: 0%;
    padding: 0%;

    letter-spacing: -30px;
  }
  @media only screen and (max-width: 1200px) {
    .pageIntro {
      top: 172px;
    }
  }
  @media only screen and (max-width: 900px) {
    .pageIntro {
      top: 182px;
    }
  }
  @media only screen and (max-width: 700px) {
    .pageIntro {
      top: 180px;
    }
  }
  @media only screen and (max-width: 500px) {
    .welcome .letter {
      letter-spacing: -15px;
    }
    .pageIntro h2 {
      font-size: 4.4vw !important;
    }
  }
  @media only screen and (min-width: 1400px) {
    .pageIntro {
      top: 200px;
      height: 500px;
    }
  }
  @media only screen and (min-width: 1550px) {
    .pageIntro {
      top: 150px;
    }
    .welcome {
      font-size: 180px !important;
    }
    .intro {
      font-size: 40px !important;
    }
  }
  @media only screen and (min-width: 1920px) {
    .pageIntro {
      top: 120px;
      height: 500px;
    }
  }

.intro {
  position: relative;
  top: 15% !important;
  margin-top: 1vw;
  margin-bottom: 2vw;
  font-weight: 400;
  transition-delay: 4000ms;

  font-size: 2.5vw;

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  letter-spacing: 2px;
}
.pageIntro h2 {
  transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
}
.pageIntro h2 > span > b {
  padding: 0% -2%;
  margin: 0% -0.8%;
  font-weight: 700;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
  }
  14.3% {
    width: 13.5%;
  }
  28.6% {
    width: 25%;
  }
  42.9% {
    width: 39.5%;
  }
  57.2% {
    width: 53.5%;
  }
  71.5% {
    width: 67.5%;
  }
  85.8% {
    width: 80.5%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,to {
    border-color: transparent;
  }
  50% {
    border-color: #26221f;
  }
}

.letter {
  position: relative; 
  display: inline-block; 
  opacity:1; 
  color: #26221f;
}

#W {
  animation: floatW 3s ease-in-out 3.2s infinite;
}

#E1 {
  animation: floatE1 3s ease-in-out 3.2s infinite;
}

#L {
  animation: floatL 3s ease-in-out 3.2s infinite;
}

#C {
  animation: floatC 3s ease-in-out 3.2s infinite;
}

#O {
  animation: floatO 3s ease-in-out 3.2s infinite;
}

#M {
  animation: floatM 3s ease-in-out 3.2s infinite;
}

#E2 {
  animation: floatE2 3s ease-in-out 3.2s infinite;
  animation: spin 3s 3.5s infinite linear;
}

@keyframes floatW {
  0% {
    transform: translateY(0vw);
    /* color: #FF4E42; */
  }
  50% {
    transform: translateY(2.5vw);
    color: #26221f;
  }
  100% {
    transform: translateY(0vw);
    /* color: #FF4E42; */
  }
}

@keyframes floatE1 {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(1.5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatL {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-1vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatC {
  0% {
    transform: translateY(0vw);
    color: #26221f;
  }
  50% {
    transform: translateY(2vw);
    /* color: #FF4E42; */
  }
  100% {
    transform: translateY(0vw);
    color:#26221f;
  }
}

@keyframes floatO {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatM {
  0% {
    transform: translateY(0vw);
    color:#26221f;
  }
  50% {
    transform: translateY(1vw);
    /* color: #FF4E42; */
  }
  100% {
    transform: translateY(0vw);
    color: #26221f;
  }
}

@keyframes floatE2 {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-1.5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  25% {
    transform:rotate(35deg);
  }
  50% {
    transform:rotate(0deg);
  }
  75% {
    transform:rotate(-35deg);
  }
  100% {
    transform:rotate(0deg);
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

.guide {
  position: fixed;
  left: 43%;
  bottom: 0.5%;
  align-content: center;
  text-align: center;
  margin: 0 0 1vw 0;

  font-family: 'IBM Plex Mono', monospace;
  animation: blink 3s ease-in-out 5s 3;
  color: transparent;

  z-index: 10;

  /* border: red solid 1px; */
}

@keyframes blink {
  0% {
    color: transparent;
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    color: #FF4E42;
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    color: transparent;
    opacity: 0;
    transform: translateY(0px);
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

.pageTextIntro {
  position: relative;

  margin: 0;
  padding: 0 6%;
  font-family: 'IBM Plex Mono', monospace;
  
  border-top: #26221f 5px solid;
  border-bottom: #26221f 5px solid;

  background-color: #e9e6e4;
  opacity: 1;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 0.4px, #e9e6e4 0, #e9e6e4 50%);
}
.pageTextIntro .container {
  width: 100%;
  margin: 0% auto;
  padding: 0%;

  border-radius: 0% !important;
  border-left: 3px solid #26221f !important;
  border-right: 3px solid #26221f !important;
}
.pageTextIntro .container .row {
  width: 100%;

  align-content: center;
  justify-content: center;
  align-items: center;

  border-radius: 0% !important;

  background: #e9e6e4;

  margin: 0% auto !important;
  padding: 0vw;

  transition: 0.5s cubic-bezier(.64,-0.01,.38,1);
}

.pageTextIntro .container .row > div > p {
  margin: 8% 0;
  line-height: 1.8;
  text-align: center;
  font-size: 14px !important;
  text-align: justify;
} 

.pageTextIntro .container .row > div:nth-child(1) {
  padding: 5%;
  border-right: 3px solid #26221f !important;
}
.pageTextIntro .container .row > div:nth-child(2) {
  padding:1% 0 0 2% !important;
  align-items: center;
}

.pageTextIntro .container .row img {
  width: 100%;
  max-width: 220px;
  height: auto;

  opacity: 0.8;
}
@media only screen and (max-width: 992px) {
  .pageTextIntro .container .row > div:nth-child(1) {
    padding: 10% !important;
    border-top: 3px solid #26221f !important;
    border-right: 0px solid #26221f !important;
    order: 2;
  }
  .pageTextIntro .container .row > div:nth-child(2) {
    align-items: center !important;
    padding: 8% 27% !important;
    order: 1;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

.pagePreview {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;

  font-family: 'IBM Plex Mono', monospace;

  overflow: hidden;

  margin: 0 !important;

  background-color: #e9e6e4 !important;
  opacity: 1 !important;
  background-image: radial-gradient(#3d3d3d 0.5px, #e9e6e4 0.5px) !important;
  background-size: 10px 10px !important;
}
@media only screen and (min-width: 1302px) {
  .pagePreview {
    height: 600px;
  }
}
@media only screen and (max-width: 1302px) {
  .pagePreview {
    height: 600px;
  }
}
@media only screen and (max-width: 1024px) {
  .pagePreview {
    height: 600px;
  }
}
@media only screen and (max-width: 992px) {
  .pagePreview {
    height: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .pagePreview {
    height: fit-content;
  }
  #caption > a {
    margin: 0 1.5%;
    width: 100% !important;
  }
}



.pagePreview .carousel-inner .carousel-item .banner-content h1 {
  font-weight: 600;
  font-size: 24px;
  color: #26221f !important;
}

.carousel-item img{
  margin: 0 5% 0 0 !important;
  border: #26221f solid 4px;
  border-radius: 10px;
  transition: 0.5s cubic-bezier(.64,-0.01,.38,1);
}
.carousel-item img:hover {
  transform: scale(1.01);
  margin: 0 5% 0 0 !important;
  border: #26221f solid 4px;
  box-shadow: #151210 5px 5px !important;
}
.carousel-item #caption {
  padding: 5%;
}
#caption > a {
  width: fit-content;
  height: auto;
  padding: 3% 5%;
  background: #e9e6e4 !important;
  border: #26221f solid 1.5px !important;
  color: #26221f !important;
  border-radius: 10px !important;
  transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
  text-align: center;
}
#caption > a:hover {
  background: #26221f !important;
  border: #26221f solid 1.5px !important;
  color: #e9e6e4 !important;
  transform: scale(1.04);
}
#caption > a:active {
  background: #FF4E42 !important;
  border: #26221f solid 0px !important;
  color: #e9e6e4 !important;
  box-shadow: none !important;
  scale: 0.99;
}
.pagePreview .carousel-inner .carousel-item {
  position: relative;
  top: 2%;
  height: fit-content;
  padding: 1%;
}

.pagePreview p {
  color: #26221f;
  font-size: 14px;
  text-align: justify;
}

.banner-wrapper {
  width: 100%;
  height: auto;

  background-color: #e9e6e4 !important;
  opacity: 1 !important;
  background-image: radial-gradient(#3d3d3d 0.5px, #e9e6e4 0.5px) !important;
  background-size: 10px 10px !important;

  padding: 0% !important;
}

.banner-wrapper #index_banner #carouselExampleIndicators {
  position: relative;
  top: -50%;
  
  width: 100% !important;
  height: 100% !important;
  margin: 0% auto 4% auto !important;
  padding: 0% 8% !important;
}
.pagePreview .carousel-inner {
  padding: 0% 0 0 7.5%;
}
#index_banner .carousel-indicators {
  margin: 10% 0 0 0;
}
#index_banner .carousel-indicators li:hover {
  background-color: rgb(38, 34, 31, 0.75) !important;
  opacity: 1 !important;
  transform: scale(1.05);
}
#index_banner .carousel-indicators li:active {
  background-color: #FF4E42 !important;
  opacity: 1 !important;
  transform: translate(0.1em);
}

/* -------------------------------------------------------------------------------------------------------------- */

.pageOthers {
  width: 100%;
  height: max-content;
  margin: 0vh 0;
  padding: 0% 6%;

  font-family: 'IBM Plex Mono', monospace;

  border-top: #26221f 5px solid;
  border-bottom: #26221f 5px solid;

  background-color: #e9e6e4;
  opacity: 1;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 0.4px, #e9e6e4 0, #e9e6e4 50%);
}

.pageOthers .sub-head {
  position:relative;
  height: fit-content !important;
  margin: 0 auto !important;
  padding: 0% auto !important;

  align-items: center !important;
  vertical-align: middle !important;
  
  border-top: #26221f 0px solid !important;
  border-right: #26221f 3px solid !important;
  border-bottom: #26221f 1px solid !important;
  border-left: #26221f 3px solid !important;
  background: #e9e6e4 !important;
  box-shadow: none !important;
}

.pageOthers > .container > .sub-head > h2 {
  width: 100% !important;
  height: auto;
  
  padding: 4% 3% 3% 3%  !important;

  font-size: 32px;
  text-align: center !important;
}

.pageOthers > .container > div:nth-child(2) {
  width: 100%;

  border: 0px solid #26221f !important;
  box-shadow: none !important;
  background: transparent !important;

  margin: 0% !important;
  padding: 0% !important;
}

.pageOthers > .container > div:nth-child(2) > .card {
  position: relative;
  height: 20%;

  margin: 0% !important;
  padding: 0% !important;

  background: #e9e6e4;

  border: 0px solid #26221f !important;
}

.column {
  position: relative;
  top: -5%;
  width: 100%;
  height: auto;
  
  overflow: hidden;
  margin: 0 !important;
  padding: 0% !important;

  transition: 0.3s cubic-bezier(.64,-0.01,.38,1);

  border: #26221f 3.5px solid;
  border-bottom: #26221f 0.5px solid !important;
}

.column-content-img {
  width: 100%;
  height: auto;

  margin: 0% !important;
  padding: 0% !important;
  overflow: hidden;
}
.pageOthers > .container .column img {
  position: relative;
  top: 0%;
  left: 0%;

  max-width: 100%;
  max-height: 100%;
  margin: 0% !important;

  transition: 0.3s cubic-bezier(.64,-0.01,.38,1);
}

.column-content-text {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  /* background: #e9e6e4; */

  /* border: 1px solid red !important; */
}
.column .column-content-text h3 {
  padding: 3% 0 2% 0;
  border-top: #26221f 3px solid;
  
  font-size: 24px;
  font-weight: 400;
}
.pageOthers > .container .column {
  background: #e9e6e4;
}

.pageOthers > .container .column img:hover {
  transform: scale(1.02);
  filter: brightness(0.95), invert(5);
}
.column:hover {
  /* border: #26221f 3.5px solid !important; */
  color: #e9e6e4 !important; 
  /* box-shadow: 5px 5px #1820EF; */
  background-color: #26221f !important;
  /* transform: scale(1.01); */
  z-index: 4;
}

.column:active {
  filter: brightness(0.8);
  box-shadow: 2px 2px #26221f;
  position: relative;
  transform: scale(0.985);
  color: #e9e6e4;
  background-color: #FF4E42;
  /* width: 31%; */
}

/* -------------------------------------------------------------------------------------------------------------- */
