.pageIntro {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 4% 6%;

    /* border-top: #26221f 5px solid; */
    border-bottom: #26221f 5px solid;
    background-color: #e9e6e4;
    opacity: 1;
    background-image: linear-gradient(45deg, #26221f 50%, #e9e6e4 50%);
    background-size: 14px 14px;

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid red; */
}
.pageIntro .container_intro {
    margin: 0%;
    padding: 0%;
    background: #e9e6e4 !important;
}
.pageIntro .mondrian-box {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: #26221f;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    /* min-height: max-content; */
    padding: 5px;
  }
  .pageIntro .mondrian_item {
    padding: 8%;
    background-color: #e9e6e4;
    /* min-height: 10px !important; */
  }
  .pageIntro .mondrian_item:nth-child(6) h4 span {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 5vw;
    font-weight:800;
    letter-spacing: 4px;
    /* text-align: end; */
  }
  .pageIntro .mondrian_item:nth-child(11) h4{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vw !important;
    font-weight:350;
  }
  .pageIntro .mondrian_item:nth-child(17) h4{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vw !important;
    font-weight:350;
  }
  .pageIntro .mondrian_item:nth-child(6) {
    background-color: #e9e6e4;
    grid-row: span 2;
    grid-column: span 4;
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
  }
  .pageIntro .mondrian_item:nth-child(11) {
    background-color: #e9e6e4;
    grid-row: span 1;
    grid-column: span 2;
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
  }
  .pageIntro .mondrian_item:nth-child(17) {
    background-color: #e9e6e4;
    grid-row: span 1;
    grid-column: span 3;
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
  }
  .pageIntro .mondrian_item:nth-child(6):hover {
    background: #ffc024 ;
  }
  .pageIntro .mondrian_item:nth-child(11):hover {
    background:#1820EF;
    color: #e9e6e4;
  }
  .pageIntro .mondrian_item:nth-child(17):hover {
    background: #FF4E42  ;
    color: #e9e6e4;
  }

  .pageIntro .mondrian_item:nth-child(2) {
    background-color: #26221f;
    grid-row: span 2;
    grid-column: span 3;
  }
  .pageIntro .mondrian_item:nth-child(3) {
    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 1px, #e9e6e4 0, #e9e6e4 40%);
    grid-column: span 3;
  }
  .pageIntro .mondrian_item:nth-child(5) {
    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 1px, #e9e6e4 0, #e9e6e4 45%);
    grid-row: span 2;
  }
  .pageIntro .mondrian_item:nth-child(9) {
    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0,#26221f 1px, #e9e6e4 0, #e9e6e4 45%);
    grid-row: span 2;
  }
  .pageIntro .mondrian_item:nth-child(19) {
    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 1px, #ffffff 0, #ffffff 30%);
    grid-column: span 3;
  }
  
  @media only screen and (max-width: 992px) {
    .pageIntro {
      position: relative;
      top: 64px;
    }
    .pageIntro .mondrian_item:nth-child(6) h4 span {
      font-size: 7vw !important;
      font-weight:750;
      letter-spacing: 4px;
    }
    .pageIntro .mondrian_item:nth-child(11) h4 span {
      font-size: 3vw !important;
      font-weight:300;
    }
    .pageIntro .mondrian_item:nth-child(17) h4 span {
      font-size: 3.5vw !important;
      font-weight:300;
    }
    .pageIntro .mondrian_item:nth-child(2),
    .pageIntro .mondrian_item:nth-child(3),
    .pageIntro .mondrian_item:nth-child(5),
    .pageIntro .mondrian_item:nth-child(18) {
      visibility: hidden !important;
    }
    .pageIntro .mondrian_item:nth-child(2) {
      background-color: #26221f;
      grid-row: span 0;
      grid-column: span 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .pageIntro {
      position: relative;
      top: 62px;
    }
    .pageIntro .mondrian-box {
      gap: 3px;
      grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
      grid-template-rows: 5px;
    }
    .pageIntro .mondrian_item:nth-child(6) h4 span {
      font-size: 8vw !important;
      font-weight:750;
      letter-spacing: 4px;
    }
    .pageIntro .mondrian_item:nth-child(11) h4 span {
      font-size: 3vw !important;
      font-weight:300;
    }
    .pageIntro .mondrian_item:nth-child(17) h4 span {
      font-size: 4vw !important;
      font-weight:300;
    }
    .pageIntro .mondrian_item:nth-child(7),
    .pageIntro .mondrian_item:nth-child(13),
    .pageIntro .mondrian_item:nth-child(19),
    .pageIntro .mondrian_item:nth-child(20) {
      visibility: hidden !important;
    }
  }
  @media only screen and (max-width: 550px) {
    .pageIntro .mondrian_item:nth-child(11) h4 span {
      font-size: 5vw !important;
    }
  }
  @media only screen and (max-width: 500px) {
    .pageIntro .mondrian_item {
      /* visibility: hidden !important; */
      display: none;
    }
    .pageIntro .mondrian-box {
      grid-template-columns: repeat(auto-fit,minmax(50px,100px));
      /* display: none; */
    }
    .pageIntro .mondrian_item:nth-child(6){
      display:block !important;
      font-size: 15vw !important;
    }
    .pageIntro .mondrian_item:nth-child(11) {
      display:block !important;
      font-size: 5vw !important;
    }
    .pageIntro .mondrian_item:nth-child(17) {
      display:block !important;
      font-size: 6vw !important;
    }
  }
  @media only screen and (min-width: 1700px) {
    .pageIntro {
      padding: 70px !important;
    }
    .pageIntro .container_intro {
      margin: 0% !important;
      padding: 0% !important;
  }
    .pageIntro .mondrian_item {
      min-height: 16px;
    }
    .pageIntro .mondrian_item:nth-child(6) h4 span {
      font-size: 72px;
    }
    .pageIntro .mondrian_item:nth-child(11) h4{
      font-size: 32px !important;
    }
    .pageIntro .mondrian_item:nth-child(17) h4{
      font-size: 42px !important;
    }
  }
 
/* Start Gallery Section ----------------------------------------------------------- */
.pageGallery {
    position: relative !important;
    top: auto;
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    margin: 0% 0 2.5% 0;
    padding: 5% 6% 5% 6%;

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid blue;  */
}

/*	gallery */
.pageGallery .gallery-title{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px !important;
    font-weight:420;
    color: #26221f;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3%;
}
.pageGallery .filter-button{
    font-size: 18px;
    border: 2px solid #26221f;
    border-radius: 10px;
	  padding:5px 15px;
    text-align: center;
    color: #26221f;
    margin-bottom: 30px;
	  background:#e9e6e4;
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1) !important;
}
.pageGallery .filter-button:hover,
.pageGallery .filter-button:focus,
.pageGallery .filter-button.active{
    border: 2px solid #26221f;
    color: #e9e6e4;
    background-color:#26221f;
	  outline:none;
    transform: scale(1.05);
}
.pageGallery .gallery_product{
    margin: 0px;
	  padding:0;
	  position:relative;
    -webkit-transition: 0.15s cubic-bezier(.64,-0.01,.38,1);
    transition: 0.12s cubic-bezier(.64,-0.01,.38,1);
}
.pageGallery .gallery_product .img-info {
	  position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 2%;

    /* background: rgba(0,0,0,0.5); */
	  overflow:hidden;
	  color:#e9e6e4;
	  display:none;
}
.pageGallery .gallery_product .img-info h4, 
.pageGallery .gallery_product .img-info p {
    position: relative;
    top: 12%;
    padding: 5%;

    font-size: 100%;
    text-align: center;
    align-items: center;
}

.gallery_product img {
    margin: 0% !important;
    padding: 0% !important;
}

.pageGallery .gallery_product:hover .img-info{
    margin: 0% !important;
    padding: 0% !important;
	  display:block;
}
.mondrian__item {
  filter:grayscale(0.8);
  transition: 0.4s cubic-bezier(.64,-0.01,.38,1) !important;
}
.mondrian__item:hover {
  filter:none;
  scale: 1.005;
  box-shadow: #26221f 3px 3px;
  z-index: 99;
}
.mondrian__item:active, .mondrian__item:focus {
  transform: scale(0.99);
  z-index: 50;
}

/* Block Design */
.mondrian {
    margin: 1% 0 0 0;
    padding: 0%;
    background-color: #e9e6e4;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    /* min-height: 50vh; */
    height: fit-content;
    padding: 6px;
  }
  .mondrian__item {
    margin: 0% !important;
    padding: 0% !important;
    background-color: #e9e6e4;
    overflow: hidden;
  }
  .gallery_product, .testGallery .filter, .category1, .category2, .category3 {
    margin: 0% !important;
    padding: 0% !important;
  }

  /* Image blocks */
  .mondrian__item:nth-child(5), 
  .mondrian__item:nth-child(8),
  .mondrian__item:nth-child(9),
  .mondrian__item:nth-child(11),
  .mondrian__item:nth-child(12),
  .mondrian__item:nth-child(16),
  .mondrian__item:nth-child(26),
  .mondrian__item:nth-child(31),
  .mondrian__item:nth-child(34),
  .mondrian__item:nth-child(35),
  .mondrian__item:nth-child(36),
  .mondrian__item:nth-child(40) {
    background-color: #e9e6e4;
    grid-row: span 2 !important;
    grid-column: span 2 !important;

    margin: 0% !important;
  }
  .mondrian__item:nth-child(10),
  .mondrian__item:nth-child(13),
  .mondrian__item:nth-child(15),
  .mondrian__item:nth-child(16),
  .mondrian__item:nth-child(17),
  .mondrian__item:nth-child(27),
  .mondrian__item:nth-child(38)  {
    background-color: #e9e6e4;
    grid-row: span 3;
    grid-column: span 3;
  }
  .mondrian__item:nth-child(2),
  .mondrian__item:nth-child(4),
  .mondrian__item:nth-child(18), 
  .mondrian__item:nth-child(24) {
    background-color: #e9e6e4;
    grid-row: span 4;
    grid-column: span 4;
  }
  .mondrian__item img {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    object-fit: cover ;
    align-items: center;
  }
  @media only screen and (max-width: 992px) {
    .pageGallery {
      margin-top: 7%;
      padding-top: 40px;
      /* top: 64px; */
    }
  }
  @media only screen and (max-width: 767px) {
    .pageGallery {
      margin-top: 8.5%;
      padding-top: 50px;
      /* top: 62px; */
    }

    .mondrian__item:nth-child(1),
    .mondrian__item:nth-child(2),
    .mondrian__item:nth-child(3),
    .mondrian__item:nth-child(4),
    .mondrian__item:nth-child(5),
    .mondrian__item:nth-child(6),
    .mondrian__item:nth-child(7),
    .mondrian__item:nth-child(8),
    .mondrian__item:nth-child(9),
    .mondrian__item:nth-child(10),
    .mondrian__item:nth-child(11), 
    .mondrian__item:nth-child(12),
    .mondrian__item:nth-child(13),
    .mondrian__item:nth-child(14),
    .mondrian__item:nth-child(15),
    .mondrian__item:nth-child(16),
    .mondrian__item:nth-child(17), 
    .mondrian__item:nth-child(18),
    .mondrian__item:nth-child(19), 
    .mondrian__item:nth-child(20), 
    .mondrian__item:nth-child(21), 
    .mondrian__item:nth-child(22), 
    .mondrian__item:nth-child(23), 
    .mondrian__item:nth-child(24), 
    .mondrian__item:nth-child(25), 
    .mondrian__item:nth-child(26), 
    .mondrian__item:nth-child(27), 
    .mondrian__item:nth-child(28), 
    .mondrian__item:nth-child(29), 
    .mondrian__item:nth-child(20), 
    .mondrian__item:nth-child(30), 
    .mondrian__item:nth-child(31), 
    .mondrian__item:nth-child(32), 
    .mondrian__item:nth-child(33), 
    .mondrian__item:nth-child(34), 
    .mondrian__item:nth-child(35), 
    .mondrian__item:nth-child(36), 
    .mondrian__item:nth-child(37), 
    .mondrian__item:nth-child(38), 
    .mondrian__item:nth-child(39), 
    .mondrian__item:nth-child(40), 
    .mondrian__item:nth-child(41), 
    .mondrian__item:nth-child(42), 
    .mondrian__item:nth-child(43), 
    .mondrian__item:nth-child(44), 
    .mondrian__item:nth-child(45)  {
      background-color: #e9e6e4;
      grid-row: span 1 !important;
      grid-column: span 1 !important;
    } 
  }

  @media only screen and (max-width: 500px) {
    .pageGallery {
      margin-top: 13.5%;
      padding-top: 50px;
      /* top: 62px; */
    }
    .pageGallery .gallery-title{
        margin-bottom: 10%;
    }
    .pageGallery .filter-button{
      font-size: 14px;
      border: 1.5px solid #26221f;
      margin-bottom: 15px;
    }
  }

  

  /*	end gallery */
