@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');

button:active, button:focus, a:active, a:focus { outline: none; }

.tabSubNav {
  position: relative;
  width: 100%;
  
  margin: 0% 0 0 0;
  padding: 0% !important;
  z-index: 2;

  /* border: 1px solid blue; */
}
  /* .tabSubNav a:hover {
    text-decoration: none;
  } */

  /* .tabSubNav a > li h3 {
    margin: 2% 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px !important;
    font-weight:400;
  }
  
  .tabSubNav a >li h3:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px !important;
    font-weight:400;
  } */

  .container_subNav {
    position: relative;
    padding: 0% !important;
    margin: 0%;
    width: 100%;
    height: auto;

    /* border: 1px solid violet;  */
  }
  .tabSubNav .container_subNav .subNav-box {
    padding: 0% !important;
  
    /* border: 1px solid blueviolet; */
  }
  .navbar-subNav .nav-item {
    width: 100%;
    margin: 0% 0.5%;
    padding: 0%;
    
    border: #26221f solid 1.5px;

    /* border: green 1px solid; */
  }
  .navbar-subNav .nav-item > a {
    width: 100%;
    height: 100%;
    margin: 0.1% 0% !important;
    padding: 1.5%;
  }
  .navbar-subNav .nav-item:hover {
    box-shadow: 3px 3px #151210;
    background-color: #e9e6e4 !important;
    transform: scale(1.02);
    z-index: 1;
    text-decoration: none;
    color: #e9e6e4 !important;
  }

  .navbar-subNav .nav-item:active {
    box-shadow: 0px 0px #FF4E42;
    position: relative;
    transform: scale(1.035);
  }

  .navbar-nav {
    position: relative;
    width: 100%;
    margin: 0% !important;
    padding: auto 0% !important;
    
    /* border: 1px solid red; */
  }
  
  .navbar-subNav {
    width: 100%;
    margin: 0.5% 0% 1.2% 0;
    padding: 0%;

    display: flex;
    flex-direction: row;
    align-content: space-between;

    /* border: violet 1px solid; */
  }

  .navbar-subNav .dropdown-menu li {
    margin: 0% !important;
    padding: 0% !important;
    border: none !important;
    background: none !important;
  }

  .navbar-subNav .nav-item h3 {
    margin: 0%;
    padding: 0.25% 0%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px !important;
    font-weight:500;
    color: #26221f;
  } 
  .navbar-subNav .nav-item h5 {
    margin: 0%;
    padding: 1% 0%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px !important;
    font-weight:500;
    color: #26221f;
    text-align: center;
    transition: transform 0.75s cubic-bezier(.64,-0.01,.38,1);
  } 
  .navbar-subNav .nav-item .dropdown-menu {
    position: relative;
    /* left: 0% !important; */
    margin: 2% 0 0 0% !important;
    width: 100%;
    padding: 1% 2%;
    border: #26221f 4px solid !important;
    border-radius: 20px;
    /* box-shadow: #1820EF 5px 5px; */

    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #959595 0, #959595 0.4px, #e9e6e4 0, #e9e6e4 50%);

    transition: 0.75s cubic-bezier(.64,-0.01,.38,1);
  }
  .navbar-subNav .nav-item .dropdown-menu > div:nth-child(1) > a {
    width: 100%;
    margin: 1% auto !important;
    padding: 0.5% 0 !important;
    border-width: 2px !important;
    border-radius: 50px;

    /* background: red; */
  }
  .navbar-subNav .nav-item .dropdown-menu .subNavBar-nested-box {
    background: rgb(233, 230, 228, 0.75);
    margin: 0 0 1% 0;
    padding: 0% 2%;
    border: #26221f 2px solid;
    border-radius: 20px;
  }
  .navbar-subNav .nav-item .dropdown-menu a h3 {
    margin: 0% !important;
    text-align: center;
    font-weight: 800 !important;
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
  }
  .navbar-subNav .nav-item .dropdown-menu a {
    margin: 2% 0% !important;
    padding: 1% 2% !important;
    overflow: hidden;
    border: #26221f solid 1.5px !important;
    border-radius: 15px;
    background: #e9e6e4;

    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
  }
  .navbar-subNav .nav-item .dropdown-menu a h4 {
    margin: 0% !important;
    padding: 1% 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem !important;
    font-weight:410;
  }
  .navbar-subNav .nav-item .dropdown-menu a h3:hover, .navbar-subNav .nav-item .dropdown-menu a h5:hover {
    color: #e9e6e4;
  }
  .navbar-subNav .nav-item .dropdown-menu > div:nth-child(1) > a:hover {
    transform: scale(1.015);
  }
  .navbar-subNav .nav-item .dropdown-menu a:hover {
    background: #26221f;
    color: #e9e6e4 !important;
   }
   .navbar-subNav .nav-item .dropdown-menu a:active {
    /* background: black; */
    border: transparent 1px solid !important;
    transform: scale(1.02);
   }
  /* Adjust narrow screen (<992px)*/
  @media only screen and (max-width: 992px) {
    .tabSubNav {
      top: 77.5px;
      margin:3% 0 0% 0 !important;
    }
    .container_subNav {
      padding: 0.5% 2%;
      /* border: #000 3px solid; */
      border-radius: 15px;
    }
    .navbar-subNav {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }
    .navbar-subNav > .nav-item {
      margin: 1% 0% !important;
      padding: 1% 0;

      background: #e9e6e4;
    }
    .navbar-subNav h3 {
      padding: 0% !important;
      font-size: 1rem !important;
      font-weight:300;
    } 
    .navbar-subNav .nav-item .dropdown-menu {
      position: relative;
      top: 5% !important;
      left: 0% !important;
      width: 100%;
      padding: 1% 2%;
      border: #26221f 1.5px solid;
      border-radius: 20px;
    }
    .navbar-subNav .nav-item .dropdown-menu > div:nth-child(1) > a {
      width: 100%;
      padding: 2% 0 !important;
    }
    .navbar-subNav .nav-item .dropdown-menu a h4 {
      font-family: 'IBM Plex Mono', monospace;
      font-weight:400;
    }
  }
  /* Adjust wide screen (>992px) */
  @media only screen and (min-width: 992px) {
    .pageNav {
      border-bottom: none;
    }
    .tabSubNav {
      width: 100%;
      margin: 0% 1% -3.35% 1%;
    }
    .container_subNav{
      position: relative;
      left: -1%;
      border: none;
      background: transparent;
      margin: 0%;
      padding: 0%;
    }
    .tabSubNav .container_subNav #navbarSupportedContent a {
      position: relative;
      width: 100%;
    }
  }
  
  /* Adjust wide screen (>1024px) */
  @media only screen and (min-width: 1025px) {
    .tabSubNav {
      width: 100%;
      margin: 0% 1% auto 1%;
    }
    .pageNav .menu-box {
      margin: 0% !important;
      padding: 0% !important;
      border-bottom: transparent solid 5px !important;
    }
  }
/* Adjust wide screen (>1200px) */
@media only screen and (min-width: 1200px) {
  .navbar-subNav .nav-item > a {
    padding: 0%;
  }
  .navbar-subNav .nav-item .dropdown-menu {
    margin: 2% 0 0 -13% !important;
  }
}
  
  /* -------------------------------------------------------------------------------------------------------------- */

.pageIntro {
  position: relative;
  width: 100%;
  height: 35vw;

  margin: 0% auto !important;
    
  /* text-align: center; */

  border-top: #26221f 5px solid;
  border-bottom: #26221f 5px solid;
    
  /* background: yellow; */
  /* border: 1px solid red; */
}

.container_intro {
  padding-left: 5% !important;
  /* border: 1px solid red;  */
}

.container_intro,
:root {
  padding: 0%;
  margin: 0% auto;
  box-sizing: border-box;

  /* variables */
  --white: transparent;
  --red: #FF4E42;
  --yellow: #ffc024;
  --blue: #1820EF;
  --black: #26221f;
  --speed: 4s;
  
}

/* Adjust narrow screen (<992px)*/
@media only screen and (max-width: 992px) {
  .pageIntro {
    margin-top: 5%;
  }
}
/* Adjust narrow screen (<900px)*/
@media only screen and (max-width: 900px) {
  .pageIntro {
    margin-top: 4.7% !important;
  }
}
/* Adjust narrow screen (<850px)*/
@media only screen and (max-width: 850px) {
  .pageIntro {
    margin-top: 5% !important;
  }
}
/* Adjust narrow screen (<750px)*/
@media only screen and (max-width: 750px) {
  .pageIntro {
    margin-top: 12%;
  }
}
/* Adjust narrow screen (<700px)*/
@media only screen and (max-width: 700px) {
  .pageIntro {
    margin-top: 6% !important;
  }
}
/* Adjust narrow screen (<650px)*/
@media only screen and (max-width: 650px) {
  .pageIntro {
    margin-top: 9.5%;
  }
}
/* Adjust narrow screen (<600px)*/
@media only screen and (max-width: 600px) {
  .pageIntro {
    margin-top: 8% !important;
  }
}
/* Adjust narrow screen (<550px)*/
@media only screen and (max-width: 550px) {
  .pageIntro {
    margin-top: 8% !important;
  }
}
/* Adjust narrow screen (<500px)*/
@media only screen and (max-width: 500px) {
  .pageIntro {
    margin-top: 10% !important;
  }
}
/* Adjust narrow screen (<450px)*/
@media only screen and (max-width: 450px) {
  .pageIntro {
    margin-top: 50px !important;
  }
}

.container_intro {
  position: relative;
  top: 0%;
  margin: 0%;
  /* padding: -20%; */
  display: grid;
  min-height: 100%;
  overflow: hidden;

  /* background-color: var(--white); */
  background-color: #e9e6e4;
  background-image:  linear-gradient(#dedede 1.1px, transparent 1.1px), linear-gradient(to right, #dedede 1.1px, #e9e6e4 1.1px);
  background-size: 22px 22px;

  /* Exceptional font for intro */
  font-family: 'Reno Mono', sans-serif;

  /* border: 1px solid blue; */
}
.container_intro_text {
  position: relative;
  top: 0%;
  
  margin: 0% auto;
  display: block;
  padding: 1px;
  overflow: hidden;

  background-color: #e9e6e4;
  background-image:  linear-gradient(#dedede 1.1px, transparent 1.1px), linear-gradient(to right, #dedede 1.1px, #e9e6e4 1.1px);
  background-size: 22px 22px;

  /* border: 1px solid greenyellow; */
}
.container_intro h4 {
  position: relative;
  top: 23%;
  /* left: -14%; */
  margin: 0;
  padding: 0%;
  font-size: 5vw;
	font-weight: 200;
	text-align: center;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;

  /* border: 1px solid green;  */
}
.container_intro i {
  position: relative;
  top: 0%;
  margin: 0%;
  padding: 0%;
  display: flex;
  position: absolute;
  height: 30%;
  
  background-color: #e9e6e4;
  /* border-right: 5px solid var(--black); */

  z-index: -100;
  transform: translate(10%, 0%);
  animation: cursor var(--speed) ease-in-out;

  /* border: 1px solid red; */ 
}
.container_intro span {
  position: relative;
  top: 0%;
  margin: 0%;
  padding: 0%;
  display: flex;

  /* border: 1px solid violet; */
}

#a {
  color: transparent;
  color: var(--red);
  animation-name: css;
  animation-duration: calc(var(--speed) / 8);
  animation-delay: 0s;
}
#b {
  color: transparent;
  color: var(--yellow);
  animation-name: css;
  animation-duration: calc(var(--speed) / 2.5);
}
#c {
  color: transparent;
  color: var(--blue);
  animation-name: css;
  animation-duration: calc(var(--speed) / 1.4);
}

@keyframes cursor {
  0% {
    background-color: var(--red);
    transform: translate(0%, 5%);
    z-index: 2;
    width: 0%;
  }
  12% {
    background-color: var(--red);
    transform: translate(0%, 5%);
    width: 104%;
  }
  25% {
    background-color: var(--red);
    transform: translate(-5%, 5%);
    width: 0.25%;
  }
  30% {
    background-color: var(--yellow);
    transform: translate(5%, 105%);
    -webkit-transform: translate(5%, 105%);
    width: 0.25%;
  }
  40% {
    background-color: var(--yellow);
    transform: translate(0%, 105%);
    -webkit-transform: translate(0%, 105%);
    width: 10%;
  }
  50% {
    background-color: var(--yellow);
    transform: translate(0%, 105%);
    -webkit-transform: translate(0%, 105%);
    width: 0.25%;
  }
  60% {
    background-color: var(--blue);
    transform: translate(0%, 225%);
    -webkit-transform: translate(0%, 228%);
    width: 0.25%;
  }
  70% {
    background-color: var(--blue);
    transform: translate(0%, 225%);
    -webkit-transform: translate(0%, 228%);
    width: 68%;
  }
  89% {
    transform: translate(-5%, 225%);
    -webkit-transform: translate(-5%, 228%);
    background-color: var(--blue);
    z-index: 2;
    width: 0%;
  }
  91% {
    z-index: -100;
    background-color: var(--white);
  }
  100% {
    z-index: -100;
    background-color: var(--white);
  }
}
@keyframes css {
  0% {
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-color: var(--black);
    -webkit-text-stroke: 0.5px var(--black);
    stroke: #26221f;
  }
  95% {
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-color: var(--black);
    -webkit-text-stroke: 0.5px var(--black);
    stroke: #26221f;
  }
}

@media only screen and (min-width: 1400px) {
  .pageIntro {
    height: 500px;
  }
  .container_intro h4 {
    font-size: 72px;
  }
}

  /* -------------------------------------------------------------------------------------------------------------- */

  .pageDesignWork {
    position: relative;
    height: fit-content;

    /* margin: 3% 0; */
    padding: 2% 6% 1.5% 6%;

    border-top: #26221f solid 5px;
    border-bottom: #26221f solid 5px;

    box-sizing: content-box;

    font-family: 'IBM Plex Mono', monospace;

    background-color: #e9e6e4;
    opacity: 1;
    background-image:  linear-gradient(#ececec 2px, transparent 2px), linear-gradient(90deg, #ececec 2px, transparent 2px), linear-gradient(#ececec 1px, transparent 1px), linear-gradient(90deg, #ececec 1px, #e9e6e4 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    /* border: 1px solid red; */
  }

  .pageDesignWork > div {
    margin: 0% auto;
    padding: 0%;
  }

  .pageDesignWork > div {
    position: relative;
    width: 100%;

    /* border: 1px solid blue; */
  }
  
  .pageDesignWork > div > h2 {
    position: relative;

    margin: 2% 0%;

    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px;
    font-weight:420;
    text-align: center;
    z-index: 3;
    color: transparent;
    text-transform:uppercase;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #26221f;

    transition: 0.5s cubic-bezier(.64,-0.01,.38,1)

    /* border: 1px solid violet; */
  }
  .pageDesignWork > div > h2:hover {
    color: #26221f;
    text-shadow: 0.5vw 0.5vw 0 rgba(147, 139, 132, 0.55),  0.75vw 0.75vw 0px rgb(241, 227, 214, 0.75), 1vw 1vw 0px rgb(207, 193, 183, 0.65);
  }

  .pageDesignWork .container-card {
    padding: 3% 0%;
    /* max-width: 1200px; */

    /* border: 1px solid violet; */
  }

  .pageDesignWork .container-card .card-box {
    /* background: greenyellow !important;
    border: 1px solid green !important; */
  }

  .pageDesignWork .container-card .card-box .card {
    overflow: hidden;
    border: #26221f 3px solid;
    border-radius: 15px;
    background:#faf8f7;

    transition: 0.5s cubic-bezier(.64,-0.01,.38,1)

    /* border: 1px solid orange !important; */
  }
  .pageDesignWork .container-card .card-box .card:hover {
    transform: scale(1.012);
  }
  .pageDesignWork .container-card .card-box .card img {
    border-bottom: #26221f 2.5px solid;
  }
  .pageDesignWork .container-card .card-box .card h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-weight:450;
  }
  .pageDesignWork .container-card .card-box .card p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight:350;
  }
  .pageDesignWork .container-card .card-box .card .card-body {
    background:#faf8f7;
  }
  .pageDesignWork .container-card .card-box .card .blockquote p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight:400;
  }
  .pageDesignWork .container-card .card-box .card cite {
    margin: 2% 0 0 0;
  }

  .pageDesignWork .container-card .card-box .card a {
    margin: 2% 0 0 0;
    padding: 2%;
    width: 100%;
    color: rgb(37, 37, 37);
    border-radius: 12px;
    text-align: center;

    background: #faf8f7;
    border: #26221f 1.5px solid !important;
    transition: 0.15s cubic-bezier(.64,-0.01,.38,1)
  }
  .pageDesignWork .container-card .card-box .card a:hover {
    color: #e9e6e4 !important;
    background: rgb(37, 37, 37);
    border: rgb(37, 37, 37) 1.5px solid !important;
    transform: scale(1.015);
    /* box-shadow: #1820EF 3px 3px; */
  }
  .pageDesignWork .container-card .card-box .card a:active,
  .pageDesignWork .container-card .card-box .card a:active {
    background: #26221f;
    border: transparent 1px solid;
    transform: scale(0.98);
    box-shadow: none;
  }
  @media only screen and (max-width: 500px) {
    .pageDesignWork > div > h2 {
      font-size: 7vw;
      -webkit-text-stroke-width: 1px;
    }
  }

  /* -------------------------------------------------------------------------------------------------------------- */

  .pageExperience {
    position: relative;
    height: fit-content;

    margin: 3% 0;
    padding: 2% 6%;
    
    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid red; */
  }
  .pageExperience .container-content {
    max-width: 1200px;
    width: 100%;
    margin: 0% auto;
    padding: 0% 0;

    /* border: 1px solid blueviolet; */
  }
  .pageExperience .row {
    margin: 0%;
    padding: 0%;

    display: flex;
    align-content: center;
    align-items:center;

    /* border: 1px solid blue; */
  }

  .pageExperience .container-experience {
    /* width: 100%; */
    margin: 0% 5vw 0 0;
    padding: 0% 0;

    /* border: 1px solid green; */
  }
  .pageExperience .container-decoration {
    position: relative;
    right: 0% !important;
    width: fit-content;
    height: fit-content;
    margin: 5% auto;
    padding: 0%;

    /* border: 1px solid greenyellow; */
  }
  .pageExperience .container-decoration .deco-img {
    margin: 0% 0 10% 0;
    padding: 10%;
    border: 5px solid #26221f;
    background-color: #faf8f7;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #b5b2ae 25%, transparent 25%, transparent 75%, #b5b2ae 75%, #b5b2ae), repeating-linear-gradient(45deg, #b5b2ae 25%, #faf8f7 25%, #faf8f7 75%, #b5b2ae 75%, #b5b2ae);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;

    transition: 0.25s cubic-bezier(.64,-0.01,.38,1) !important;

    /* border: 1px solid orange; */
  }
  .pageExperience .container-decoration .deco-img:hover {
    background: #faf8f7;
    box-shadow: #151210 5px 5px;
  }
  .pageExperience .container-decoration .deco-img img {
    width: 100%;
    max-width: 320px;
    margin: 0%;
    padding: 0%;

    transition: 0.25s cubic-bezier(.64,-0.01,.38,1) !important;
  }
  .pageExperience .container-decoration .deco-img img:hover {
    transform: scale(0.9) rotate(4deg);
  }
  .pageExperience .container-decoration .deco-title {
    width: 100%;
    margin: 10% 0 0 0;
    padding: 0%;


    /* border: 1px solid orange; */
  }
  .pageExperience .container-decoration .deco-title h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px;
    font-weight:420;
    text-align: center;
    z-index: 3;
    color: transparent;
    text-transform:uppercase;
    letter-spacing:10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #26221f;

    transition: 0.5s cubic-bezier(.64,-0.01,.38,1)
  }
  .pageExperience .container-decoration .deco-title h2:hover {
    color: #26221f;
    text-shadow: 0.5vw 0.5vw 0 rgba(147, 139, 132, 0.55),  0.75vw 0.75vw 0px rgb(241, 227, 214, 0.75), 1vw 1vw 0px rgb(207, 193, 183, 0.65);
  }


/* Collapsible Part */
  a:hover,a:focus{
      text-decoration: none;
      outline: none;
  }
  #accordion .panel{
      border: none;
      border-radius: 10px;
      box-shadow: none;
      margin-bottom: 10px;
  }
  #accordion .panel-heading{
      padding: 0;
      border: none;
      border-radius: 10px 10px 0 0;
  }
  #accordion .panel-title a{
      display: block;
      padding: 20px 30px;
      background: #26221f;
      font-size: 17px;
      font-weight: bold;
      color: #e9e6e4 !important;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 3px solid #26221f;
      border-radius: 10px 10px 0 0;
      position: relative;
  }
  #accordion .panel-title a.collapsed{
      border-color: #26221f;
      border-radius: 15px;
      background-color: #faf8f7;
      color: #26221f !important;
      transition: 0.5s cubic-bezier(.64,-0.01,.38,1);
  }
  #accordion .panel-title a.collapsed:hover {
    transform: scale(1.01);
    box-shadow: #151210 5px 5px;
  }
  #accordion .panel-title a.collapsed:active {
    transform: scale(0.99);
    box-shadow: #FF4E42 2px 2px;
  }
  #accordion .panel-title a:before,
  #accordion .panel-title a.collapsed:before {
      content: "\f106";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      /* background: black; */
      font-size: 20px;
      color: #e9e6e4;
      text-align: center;
      position: absolute;
      top: 15px;
      right: 30px;
      opacity: 1;
      transform: scale(1);
      transition: all 0.3s ease 0s;
  }
  
  #accordion .panel-title a:after,
  #accordion .panel-title a.collapsed:after{
      content: "\f106";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      /* background: black; */
      font-size: 20px;
      color: #26221f !important;
      text-align: center;
      position: absolute;
      top: 15px;
      right: 30px;
      opacity: 1;
      transform: scale(1);
      transition: all 0.3s ease 0s;
  }
  #accordion .panel-title a:after,
  #accordion .panel-title a.collapsed:after{
      content: "\f107";
      background: transparent;
      /* color: #e9e6e4; */
      opacity: 0;
      transform: scale(0);
  }
  #accordion .panel-title a.collapsed:before{
      opacity: 0;
      transform: scale(0);
  }
  #accordion .panel-title a.collapsed:after{
      opacity: 1;
      transform: scale(1);
  }
  #accordion .panel-body{
      padding: 20px 30px;

      background-color: #faf8f7;
      opacity: 1;
      background-size: 16px 16px;
      background-image:  repeating-linear-gradient(0deg, #d2cbc6, #d2cbc6 0.8px, #faf8f7 0.8px, #faf8f7);

      /* border-top: none; */
      border: 2px solid #26221f;
      font-size: 15px;
      color: #26221f;
      line-height: 28px;
      letter-spacing: 1px;
      border-radius: 0 0 15px 15px;
  }

  @media only screen and (max-width: 928px) {
    .pageExperience .container-experience {
      width: 100%;
      order: 2;
    }
    .pageExperience .container-decoration {
      align-content: center;
      order: 1;
    }
    .pageExperience .container-decoration .deco-title {
      width: 100% !important;
    }
    .pageExperience .container-decoration .deco-img {
      width: 100% !important;
    }
  }  