@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');

.pageIntro {
    position: relative;
    top: 0%;
    margin: 0% !important;
    padding: 0% !important;

    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 0.4px, #e9e6e4 0, #e9e6e4 50%);

    /* background: transparent !important; */

    /* border: 1px solid red; */
}
.pageIntro .container {
    border-left: 3px solid #26221f;
    border-right: 3px solid #26221f;

    background:#e9e6e4 ;
}
.pageIntro .container-intro {
    margin: 0%;
    padding: 0% 6%;

    /* border-top: 5px solid black; */
    border-bottom: 5px solid #26221f;
    
    /* border: 1px solid blue; */
}
.pageIntro .container-intro > .row {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    border-left: 3px solid #26221f;
    border-right: 3px solid #26221f;

    background: #e9e6e4;

    /* border: 1px solid blueviolet;  */
}
.pageIntro .container-img {
    height: 100%;
    margin: 0% !important;
    padding: 0%;
    border-right: 3px solid #26221f;

    /* border: 1px solid green;  */
}
.pageIntro .container-img img {
    margin: 0%;
    padding: 0% !important;
    max-width: 750px;
    width: 100%;

    
    /* border: 1px solid orange;  */
}
.pageIntro .container-text {
    /* width: auto; */
    height: 100% !important;
    margin: 0% !important;

    /* border: 1px solid green;  */
}
.pageIntro .container-text .text-title {
    margin: 0%;
    padding: 8% 10%;
    border-bottom: 1.5px solid #26221f;

    /* border: 1px solid orange;  */
}
.pageIntro .container-text .text-title h1 {
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 70px;
    font-weight: 700;
    color: #26221f !important;
}
.pageIntro .container-text .text-paragraph {
    margin: 0%;
    padding: 10% 10% 3% 10%;
    border-top: 1.5px solid #26221f;

    /* border: 1px solid orange;  */
}
.pageIntro .container-text .text-paragraph p {
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    line-height: 25px;
}
@media only screen and (max-width: 1400px) {
    .intro-opinion {
        display: none;
    }
}

  /* Adjust narrow screen (<992px)*/
  @media only screen and (max-width: 992px) {
    .pageIntro {
        margin-top: 50px !important;
        border-top: 1px solid ;
      }
    .pageIntro .container-img {
        border-right:0px solid #26221f;
        border-bottom: 3px solid #26221f;

        background-color: #e9e6e4;
        opacity: 1;
        background-size: 4px 4px;
        background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 1px, #e9e6e4 0, #e9e6e4 45%);
    }
    .pageIntro .container-img img {
        max-width: 400px;
        border-right:3px solid #26221f;
    }
    .pageIntro .container-text .text-title {
        padding: 3.5% 8%;
    }
    .pageIntro .container-text .text-title h1 {
        font-size: 64px;
    }
    .pageIntro .container-text .text-paragraph {
        margin: 0%;
        padding: 3.5% 8%;
    }
    .intro-opinion {
        display: block;
    }
  }
    /* Adjust narrow screen (<470px)*/
    @media only screen and (max-width: 470px) {
        .pageIntro .container-img img {
            max-width: 400px;
            border-right:0px solid #26221f;
        }
    }

/* Start pageRole, pageResponsibility ---------------------------------------- */
.pageRole,
.pageResponsibility {
    position: relative;

    margin: 0%;
    padding: 0% 6%;

    border-bottom: 5px solid #26221f;

    font-family: 'IBM Plex Mono', monospace;

    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 0.4px, #e9e6e4 0, #e9e6e4 50%);

    /* border: 1px solid red; */
}
.pageRole .container-role,
.pageResponsibility .container-response{
    padding: 0% 0;
    border-left: 3px solid #26221f;
    border-right: 3px solid #26221f;

    background: #e9e6e4;

    /* border: 1px solid blue; */
}
.pageRole .container-role .role-title,
.pageResponsibility .container-response .rpns-title  {
    margin: 0%;
    padding: 5%;

    /* border-right: 1.5px solid #26221f; */

    /* border: 1px solid green; */
}
.pageRole .container-role .role-content,
.pageResponsibility .container-response .rpns-content {
    margin: 0%;
    padding: 3% 5%;

    border-left: 2.5px solid #26221f;

    /* border: 1px solid orangered; */
}
.pageRole .container-role .role-content .role-list,
.pageResponsibility .container-response .rpns-content .rpns-list {
    width: fit-content;
    margin: 5% auto;
    padding: auto;
    /* align-content: center !important; */


    /* border: 1px solid greenyellow; */
}
.pageRole .container-role .role-content .role-list img,
.pageResponsibility .container-response .rpns-content .rpns-list img {
    max-height: 120px;
    
    margin: 0 auto 25px auto;
    padding:  0 20px;

    /* border: 1px solid orange; */
}
.pageRole .container-role .role-content .role-caption h5,
.pageResponsibility .container-response .rpns-content .rpns-caption h5 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    /* border: 1px solid orange; */
}
.pageRole .role-title p,
.pageResponsibility .rpns-title p,
.pageWhy p {
    font-weight: 300;
    text-align: justify !important;
}

.pageRole .container-role .role-content .role-caption p,
.pageResponsibility .container-response .rpns-content .rpns-caption p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    /* border: 1px solid orange; */
}

  /* Adjust narrow screen (<992px)*/
  @media only screen and (max-width: 992px) {
    /* .pageRole {
        position: relative;
        top: 66px !important;
    } */
    .pageRole .container-role .role-title,
    .pageResponsibility .container-response .rpns-title {
        padding: 3.5% 8%;

        border-right: 0px solid #26221f;
        border-bottom: #26221f solid 3px;
    }
    .pageRole .container-role .role-content,
    .pageResponsibility .container-response .rpns-content {
        padding: 3.5% 3%;
        border-left: 0px solid #26221f;   
    }
  }

/* Start pageWhy ---------------------------------------- */
.pageWhy {
    position: relative;

    margin: 0%;
    padding: 0% 6%;

    border-bottom: 5px solid #26221f;

    font-family: 'IBM Plex Mono', monospace;

    background-color: #e9e6e4;
    opacity: 1;
    background-image: radial-gradient(#8f8f8f 0.55px, #e9e6e4 0.55px);
    background-size: 11px 11px;

    /* border: 1px solid red; */
}
.pageWhy .container-why > .row {
    margin: 0%;
    padding: 0%;

    /* border: 1px solid green;  */
}
.pageWhy .banner-img,
.pageWhy .banner-content {
    margin: 0%;
    padding: 5%;

    /* border: 1px solid greenyellow; */
}
.pageWhy .card {
    border: #26221f 0px solid;
    background: none;
}
.pageWhy .banner-img img {
    max-width: 400px;
    width: 100%;
    margin: 0%;
    padding: 5%;

    /* border: 1px solid orange; */
}
/* Adjust narrow screen (<992px)*/
@media only screen and (max-width: 992px) {
    .pageWhy .card {
        margin-top: 4%;
        padding: 0%;
    }
    .pageWhy .banner-img img {
        max-width: 300px;
        width: 100%;
        margin: 0% auto !important;
        padding: 0% !important;
    }
    .pageWhy .banner-content {
        padding: 2% 5% 7% 5%;
    }
}

/* Start pageAttitude ---------------------------------------- */ 
.pageAttitude {
    position: relative;

    margin: 0%;
    padding: 0% 6%;

    border-bottom: 5px solid #26221f;

    font-family: 'IBM Plex Mono', monospace;

    background-color: #e9e6e4;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, #26221f 0, #26221f 0.4px, #e9e6e4 0, #e9e6e4 50%);
    /* border: 1px solid red; */
}
.pageAttitude .container-attitude {
    padding: 3% 5%;
    border-left: 3px solid #26221f;
    border-right: 3px solid #26221f;

    background: #e9e6e4;

    /* border: 1px solid blue; */
}
.pageAttitude .container-attitude > .row {
    margin: 0%;
    padding: 0% !important;
    /* border: 1px solid green; */
}
.pageAttitude .container-attitude .objective-att {
    /* padding: 15% auto !important; */
    /* border: 1px solid greenyellow; */
}
.pageAttitude .container-attitude .objective-att .objective-icon {
    /* padding: 2%; */
    margin: 6% auto 13% auto !important;
    border: #26221f 0px solid;

    /* border: 1px solid orange; */
}
.pageAttitude .container-attitude .objective-att h2 {
    margin-bottom: 4.5%;
    font-size: 24px;
    font-weight: 400;
}
.pageAttitude .container-attitude .objective-att p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6%;
}
.pageAttitude .card {
    background: transparent;
}

.pageDownload {
    background-color: #e9e6e4;
    opacity: 1;
    background-image: radial-gradient(#8f8f8f 0.55px, #e9e6e4 0.55px);
    background-size: 11px 11px;
}
.pageDownload h4{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 32px;
    font-weight: 400;
}
.download_btn {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;

    border: 1.5px solid #26221f;
    border-radius: 50px;
    background-color: #e9e6e4;
    transition: 0.25s cubic-bezier(.64,-0.01,.38,1);
}

.download_btn:hover {
    color: #e9e6e4;
    background-color: #26221f;
    scale: 1.05;
}

.download_btn:active {
    scale: 0.98;
}