@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');

.pageNav {
  padding: 0% 5% 1% 5% !important;
}
.navbar-nav {
  position: relative;
  width: 100%;
  margin: 0% !important;
  padding: auto 0% !important;
  
  /* border: 1px solid red; */
}

.tabSubNav {
  position: relative;
  width: 100%;
  
  margin: 0% 0 0 0;
  padding: 0 !important;
  z-index: 2;
  align-items: stretch;

  /* border: 1px solid blue; */
}
.tabSubNav a:hover {
  text-decoration: none;

  /* background: blueviolet; */
}

.tabSubNav a > li > h3 {
  margin: 2% 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem !important;
  font-weight:400;
}

.tabSubNav a >li > h3:hover {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem !important;
  font-weight:400;
}

.tabSubNav .container_subNav {
  position: relative;
  padding: 0% !important;
  margin: 0%;
  width: 100%;
  height: auto;

  /* border: 1px solid violet;  */
}
.tabSubNav .navbar-subNav .nav-item {
  background: none !important;
}

.tabSubNav .container_subNav .navbar-subNav {
  width: 100%;
  margin: 0% 0% 0% 0 !important;
  padding: 0%;

  display: flex;
  align-content: space-between;

  /* border: violet 1px solid; */
}

.tabSubNav .container_subNav .navbar-subNav .nav-item > a {
  width: 100%;
  height: 100%;

  /* border: 1px solid red !important; */
}

.tabSubNav .navbar-subNav li {
  margin: 0% 0.75% !important;
  padding: 0% !important;
  border: none !important;
  background: none !important;
}

.tabSubNav .navbar-subNav .nav-item h3 {
  margin: 0%;
  padding: 3% 0%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem !important;
  font-weight:500;
  color: #26221f;
} 

.nav-item {
  margin: 0 !important;
  padding: 0% !important;
  border: transparent solid 1px !important;
}

.subNavBar {
  position: relative;
  width:100%;
  padding: 0% 8.35vw 0 8.35vw;
  /* margin: 2% auto 0% 5% !important; */

  font-size: 65%;
  font-weight: 700;
  font-style: normal;
  color: #26221f;
  text-align: center;
  vertical-align: middle;
  align-items: stretch;

  background-color: #e9e6e4 !important;
  border: 1.5px solid #26221f;
  border-radius: 15px;
  transition: transform 0.25s cubic-bezier(.64,-0.01,.38,1);
  list-style-type: none;

  z-index: 3;
}

.subNavBar:hover {
  box-shadow: 3px 3px #151210;
  background: #e9e6e4 !important;
  color: #e9e6e4;
  transform: scale(1.01);
  z-index: 1;
  text-decoration: none;
}

.subNavBar:active {
  border: 1px solid transparent;
  background-color: #FF4E42;
  box-shadow: 0px 0px #FF4E42;
  position: relative;
  transform: scale(1.025);
}

.navbar-nav {
  position: relative;
  width: 100%;
  margin: 0% !important;
  
  /* border: 1px solid red; */
}
/* Adjust narrow screen (<500px)*/
@media only screen and (max-width: 500px) {
  .tabSubNav {
    top: 75px !important;
  }
  .navbar-subNav .nav-item h3 {
    padding: 5% 0% !important;
  }
}
/* Adjust narrow screen (<700px)*/
@media only screen and (max-width: 700px) {
  .tabSubNav {
    top: 72px;
  }
}
/* Adjust narrow screen (<992px)*/
@media only screen and (max-width: 992px) {
  .pageNav {
    position: relative;
    padding: 0% 5% 3% 5% !important;
  }
  .tabSubNav {
    top: 82px;
    margin:3% 0 0% 0 !important;
  }
  .container_subNav {
    padding: 0.5% 2%;
    /* border: #000 2px solid; */
    border-radius: 15px;
  }
  .navbar-subNav {
    margin: 0% 0% 0% -0.5% !important;
  
    flex-direction: column;
  }
  .tabSubNav .container_subNav .navbar-subNav .nav-item > a {
    padding: 0% !important;
  }
  .navbar-nav {
    padding: 0% 0 3% 0 !important;
    /* border-bottom: #000 solid 5px; */

    /* border: blue solid 1px; */
  }
  .navbar-subNav .nav-item {
    margin: 0% 0 !important;
    padding: 0% !important;
  }
  .navbar-subNav .nav-item h3 {
    padding: 1% 0% !important;
  }
  .subNavBar {
    margin: 0.75% auto !important;
  }
}
@media only screen and (max-width: 1024px) {
  .pageNav {
    border-bottom: none; 
  }
}
/* Adjust wide screen (>992px) */
@media only screen and (min-width: 992px) {
  .tabSubNav {
    width: 100%;
    margin: 0% 1% -3.35% 1%;
  }
  .container_subNav{
    position: relative;
    left: -1%;
    border: none;
    background: transparent;
    margin: 0%;
    padding: 0%;
  }
  .tabSubNav .container_subNav #navbarSupportedContent a {
    position: relative;
    width: 100%;

    margin: 0% 0.5% !important;
    padding: 0% !important;
  }
}
/* Adjust wide screen (>1024px) */
@media only screen and (min-width: 1025px) {
  .tabSubNav {
    width: 100%;
    margin: 0% 1% auto 1%;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

.pageIntro {
    position: relative;
    width: 100%;
    height: 35vw;
    padding: 5% 6%;
    margin-top: -0.63%;
    overflow: hidden;
    
    text-align: center;

    border-top: #26221f 5px solid;
    border-bottom: #26221f 5px solid;
    
    background-color: #e9e6e4;
    background-image:  linear-gradient(#dedede 1.1px, transparent 1.1px), linear-gradient(to right, #dedede 1.1px, #e9e6e4 1.1px);
    background-size: 22px 22px;

    z-index: 0;
    
    /* background: yellow; */
    /* border: 1px solid red; */
}

.container_intro {
    position: relative;
    /* top: 5%; */
    /* padding: 6%; */
    height: 100%;
    font-size: 8vw;

    /* border: 1px solid blue; */
}

.container_intro .introText {
    position: absolute;
    top: 5%;
    right: 2%;
    width: fit-content;
    height: fit-content;
    z-index: 1;

    align-content: center;

    /* border: 1px solid greenyellow; */
}

.container_intro .introText h1 {
    margin: 0%;
    display: flex;
    flex-direction: row;

    color: #26221f;
    font-weight: 400;
    font-family: 'Silkscreen', cursive;
    font-size: 12rem !important;
    text-shadow: -10px 10px 0px rgb(241, 227, 214, 0.75),
                 -20px 20px 0px rgb(207, 193, 183, 0.65),
                 -30px 30px 0px rgba(147, 139, 132, 0.55);

    /* border: 1px solid green; */
}

.container_intro .introText h1 span {
    position: relative;
    width: 100%;
    margin: 0% 0%;

    transition: 0.3s cubic-bezier(.64,-0.01,.38,1);

    /* border: 1px solid purple; */
}

.container_intro .introText h1 span:hover {
    position:relative;
    margin: 0.5%;

    color: #FF4E42;
    font-family: 'Silkscreen', cursive;
    text-shadow: -8px 8px 0px #ff958e,
                 -16px 16px 0px #ffb8b3,
                 -24px 24px 0px #ffedec;
}

.container_intro .decorative_text_1 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: -15%;

    /* border: 1px solid greenyellow; */
}
.container_intro .decorative_text_1 h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 5vw;
  font-style: italic;
  line-height: 0.75;
  opacity: 0.1;
  fill: none;
  stroke: #26221f;
  stroke-width: .5px;
}

.container_intro .decorative_text_2 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 0%;
    top: -35.5%;
}

.container_intro .decorative_text_2 h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 10.7vw;
  line-height: 1.2;
  text-align: end;
  color: #e9e6e4;
  opacity: 0.15;
  text-shadow: -1px -1px 0 #26221f, 1px -1px 0 #26221f, -1px 1px 0 #26221f, 1px 1px 0 #26221f; 
}
@media only screen and (min-width: 1300px) {
  .pageIntro {
    height: 500px !important;
  }
  .container_intro .decorative_text_1 {
    top: -30px;
  }
  .container_intro .decorative_text_2 {
    top: -140px;
  }
}
@media only screen and (max-width: 1300px) {
  .pageIntro {
    height: 40vw !important;
  }
  .container_intro .decorative_text_1,
  .container_intro .decorative_text_2 {
    top: -15.5%;
  }
}
@media only screen and (max-width: 1024px) {
  .pageIntro {
    top: 35px;
    height: 50vw !important;
  }
  .container_intro .decorative_text_1,
  .container_intro .decorative_text_2 {
    top: -10.5%;
  }
}
/* Adjust narrow screen */
@media only screen and (max-width: 992px) {
  .pageIntro {
    top: 65px;
    height: 50vw !important;
  }
  .container_intro .introText h1 {
    font-size: 15vw !important;
    text-shadow: -5px 5px 0px rgb(241, 227, 214, 0.75),
                 -10px 10px 0px rgb(207, 193, 183, 0.65),
                 -15px 15px 0px rgba(147, 139, 132, 0.55);
  }
  .container_intro .introText h1 span:hover {
    color: #FF4E42;
    font-family: 'Silkscreen', cursive;
    text-shadow: -4px 4px 0px #ff958e,
                 -8px 8px 0px #ffb8b3,
                 -12px 12px 0px #ffedec;
  }
}
/* Adjust narrowER!! screen */
@media only screen and (max-width: 500px) {
  .pageIntro {
    top: 80px;
    height: 75vw !important;
  }
  .container_intro .introText {
    position: absolute;
    top: 5% !important;
}
.container_intro .decorative_text_1 {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0%;
}
.container_intro .decorative_text_2 {
  top: -18%;
}
.container_intro .decorative_text_2 h2 {
  font-size: 12vw;
  line-height: 1.3;
}
  .container_intro .introText h1 {
    font-size: 18vw !important;
    text-shadow: -4px 4px 0px rgb(241, 227, 214, 0.75),
                 -8px 8px 0px rgb(207, 193, 183, 0.65),
                 -12px 12px 0px rgba(147, 139, 132, 0.55);
  }
  .container_intro .introText h1 span:hover {
    color: #FF4E42;
    font-family: 'Silkscreen', cursive;
    text-shadow: -3px 3px 0px #ff958e,
                 -6px 6px 0px #ffb8b3,
                 -9px 9px 0px #ffedec;
  }
}
  /* -------------------------------------------------------------------------------------------------------------- */
  .pageTimeline {
    position: relative;
    margin: -53px 0 0% 0%;
    padding: 5% 6% 0% 6%;
    overflow: hidden;
    height: fit-content;

    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: -0.45%;

    background-color: #e9e6e4;
    opacity: 1;
    background-size: 22px 22px;
    background-image:  repeating-linear-gradient(0deg, #EEEEEE, rgb(190, 185, 181) 1.1px, #e9e6e4 1.1px, #e9e6e4);
    border-top: #26221f solid 5px;
    border-bottom: #26221f solid 5px;

    z-index: 0;

    /* border: 1px solid red; */
  }

  /* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #26221f;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
  top: -11%;
  border-radius: 1vw;
  height: 100%;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
  z-index: 20;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #e9e6e4;
  border: 5px solid #26221f;
  top: 15px;
  border-radius: 50%;
}

.timeline h2 {
  font-size: 24px;
  font-weight: 400;
}

.timeline h4 {
  font-size: 15px;
  font-weight: 400;
}

.timeline h5 {
  font-size: 15px;
  font-weight: 400;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;

  transition: transform 0.5s cubic-bezier(.64,-0.01,.38,1);
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.left h5 {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 50px;
  background: #1820EF;
  color: #e9e6e4;
}
.right h5 {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 50px;
  background: #FF4E42;
  color: #e9e6e4;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid #e9e6e4;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #26221f !important;
}

.right .card {
  background: #f4f1ef;
  border: #26221f 2px solid; 
  border-radius: 10px;
  transition: transform 0.5s cubic-bezier(.64,-0.01,.38,1);
}

.left .card {
  background: #f4f1ef;
  border: #26221f 2px solid; 
  border-radius: 10px;
  transition: transform 0.5s cubic-bezier(.64,-0.01,.38,1);
}

.right .card:hover {
  box-shadow: #151210 3px 3px;
  scale: 1.005;
}

.left .card:hover {
  box-shadow: #151210 3px 3px;
  scale: 1.005;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid #e9e6e4;
  border-width: 10px 10px 10px 0;
  border-color: transparent #26221f transparent transparent !important;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

@media screen and (max-width: 1400px) {
  .main-timeline::after {
    top: -12%;
  }
}
@media screen and (max-width: 1009px) {
  .main-timeline::after {
    top: -12%;
  }
}
@media screen and (max-width: 727px) {
  .main-timeline::after {
    top: -11.5%;
  }
}
@media screen and (max-width: 612px) {
  .main-timeline::after {
    top: -12%;
  }
}
@media screen and (max-width: 500px) {
  .main-timeline::after {
    top: -12%;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid #e9e6e4;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e9e6e4 transparent transparent;
  }

  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 60px;
    border: medium solid #e9e6e4;
    border-width: 10px 10px 10px 0;
    border-color: transparent #26221f transparent transparent !important;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

  /* -------------------------------------------------------------------------------------------------------------- */

  .pageSkill {
    position: relative;
    width: 100%;
    height: fit-content;

    margin: 0% 0;
    padding: 5% 6%;

    border-top: 5px solid #26221f;
    border-bottom: 5px solid #26221f;

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid red; */
  }

  .pageSkill h2 {
    position: relative;
    padding: 0%;
    margin: 0% 0 1% 0;

    opacity: 1;
    font-size: 10vw;
    font-family: 'Silkscreen', cursive;
    font-weight: 400;
    color: #26221f;
    opacity: 0.85;
    /* text-shadow: 0.5vw 0.5vw 0 #1820EF,  0.75vw 0.75vw 0px #ffc024, 1vw 1vw 0 #FF4E42; */
    animation: shadowBlink 0.5s ease-in-out infinite;

    /* border: 1px solid blue; */
  }

  @keyframes shadowBlink {
    0% {
      text-shadow: 0.5vw 0.5vw 0 rgb(241, 227, 214, 0.75), 0.75vw 0.75vw 0px rgb(207, 193, 183, 0.65), 1vw 1vw 0 rgba(147, 139, 132, 0.55);
    }
    33% {
      text-shadow: 0.5vw 0.5vw 0 rgb(207, 193, 183, 0.65),  0.75vw 0.75vw 0px rgba(147, 139, 132, 0.55), 1vw 1vw 0 rgb(241, 227, 214, 0.75);
    }
    67% {
      text-shadow: 0.5vw 0.5vw 0 rgba(147, 139, 132, 0.55),  0.75vw 0.75vw 0px rgb(241, 227, 214, 0.75), rgb(207, 193, 183, 0.65);
    }
    100% {
      text-shadow: 0.5vw 0.5vw 0 rgb(241, 227, 214, 0.75), 0.75vw 0.75vw 0px rgb(207, 193, 183, 0.65), 1vw 1vw 0 rgba(147, 139, 132, 0.55);
    }
  }

  -10px 10px 0px rgb(241, 227, 214, 0.75),
                 -20px 20px 0px rgb(207, 193, 183, 0.65),
                 -30px 30px 0px rgba(147, 139, 132, 0.55);

  .pageSkill .container_fluid {
    position: relative;
    width: 100%;
    height: 100%;

    /* border: 1px solid green; */
  }

  .pageSkill .row0_column1 {
    padding: 0% 2% 0 0;
  }

  .pageSkill .container-fluid .row0_column2,
  .pageSkill .container-fluid .row0_column1_row2_column1,
  .pageSkill .container-fluid .row0_column1_row2_column2,
  .pageSkill .container-fluid .row0_column1_row3 {
    position: relative;
    left: 0%;

    background: #f4f1ef;
    box-shadow: #151210 5px 5px;
    border: #26221f solid 3px;
    border-radius: 15px;
    overflow: hidden;

    background-color: #f4f1ef;
    /* opacity: 1;
    background-image: radial-gradient(#969696 0.5px, #e9e6e4 0.5px);
    background-size: 12px 12px; */

    transition: transform 0.5s cubic-bezier(.64,-0.01,.38,1);
  }

  .pageSkill .container-fluid .row0_column1_row2_column1 {
    margin: 2% 0% 2% 0%;
    width: 96%;

    left: 2%;

    /* background: rebeccapurple; */
  }

  .pageSkill .container-fluid .row0_column1_row2_column2 {
    margin: 2% 0% 4% 0%;
    width: 100%;

    /* background: red; */
  }

  .pageSkill .container-fluid .row0_column1_row3 {
    margin: 2% 0% 2% 0%;
    width: 100%;
  }

  .pageSkill .container-fluid .row0_column2 {
    margin: 2% 0% 1.1% 0%;
  } 

  /* .pageSkill .container-fluid .row0_column2:hover,
  .pageSkill .container-fluid .row0_column1_row2_column1:hover,
  .pageSkill .container-fluid .row0_column1_row2_column2:hover,
  .pageSkill .container-fluid .row0_column1_row3:hover {
    transform: scale(1.01);
  } */

  @media screen and (max-width: 768px) {
    .pageSkill .container-fluid .row0_column2,
    .pageSkill .container-fluid .row0_column1_row2_column1,
    .pageSkill .container-fluid .row0_column1_row2_column2,
    .pageSkill .container-fluid .row0_column1_row3 {
      border: #26221f solid 2px;
      border-radius: 10px;
    }
    .skill-codeLang-head,
    .skill-language-head,
    .skill-softskill-head,
    .skill-software-head {
      border-bottom: #26221f 2px solid !important;
    }
    .skill-codeLang .skill-codeLang-contents > div,
    .skill-language .skill-language-contents > div,
    .skill-softskill .skill-softskill-contents > div {
      border: #26221f solid 1.5px !important;
      border-radius: 8px !important;
    }
    .pageSkill .skill-software {
      width: 98%;
    }
    .skill-software .skill-software-contents > div > div {
      padding: 2.5% 0 !important;
    }
    .pageSkill .skill-software-head h3 {
      padding: 2% 1% 2% 3% !important;
    }
    .pageSkill h2 {
      font-size: 82px !important;
    }
  }

  /* Programming Language Box ------------------------------------------------------- */
  .pageSkill .skill-codeLang {
    position: relative;
    margin: 3%;
    /* width: 45%; */

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid purple; */
  }
  .skill-codeLang-head {
    position: relative;

    width: 100%;
    margin: 0%;

    border-bottom: #26221f 2.5px solid;
    background: #26221f;
    color: #e9e6e4;

    /* border: blueviolet solid 1px; */
  }

  .skill-codeLang .skill-codeLang-head > h3 {
    position: relative;
    left: 0%;

    width: 100%;
    margin: 0%;
    padding: 1.5% 1% 1.5% 3%;

    font-size: 20px;

    /* border: lightgreen solid 1px; */
  }
  .skill-codeLang-contents {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    margin: 3% 1% 3% 1%;
  }
  .skill-codeLang .skill-codeLang-contents > div {
    width: fit-content;
    height: fit-content;

    margin:  0.45vw;
    padding: 1vw 3vw;

    border: #26221f solid 2px;
    border-radius: 12px;
    background: #faf8f7;

    /* border: 1px solid yellow; */
  }
  .skill-codeLang .skill-codeLang-contents h3 {
    width: max-content;

    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size: 14px;

    /* border: 1px solid yellow; */
  }

  /* Languages Box ------------------------------------------------------- */
  .pageSkill .skill-language {
    position: relative;
    margin: 3%;
    /* width: 45%; */

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid purple; */
  }
  .skill-language-head {
    position: relative;

    width: 100%;
    margin: 0%;

    border-bottom: #26221f 2.5px solid;
    background: #26221f;
    color: #e9e6e4;

    /* border: blueviolet solid 1px; */
  }

  /* .skill-language-head:hover {
    background: #ffc024;
  } */

  .skill-language .skill-language-head > h3 {
    position: relative;
    left: 0%;

    width: 100%;
    margin: 0%;
    padding: 1.5% 1% 1.5% 3%;

    font-size: 20px;

    /* border: lightgreen solid 1px; */
  }
  .skill-language-contents {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    margin: 3% 1% 3% 1%;
  }
  .skill-language .skill-language-contents > div {
    width: fit-content;
    height: fit-content;

    margin:  0.45vw;
    padding: 1vw 3vw;

    border: #26221f solid 2px;
    border-radius: 12px;
    background: #faf8f7;

    /* border: 1px solid yellow; */
  }
  .skill-language .skill-language-contents h3 {
    width: max-content;

    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size: 14px;

    /* border: 1px solid yellow; */
  }

  /* Soft-skills Box ------------------------------------------------------- */
  .pageSkill .skill-softskill {
    position: relative;
    margin: 3%;

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid purple; */
  }
  .skill-softskill-head {
    position: relative;

    width: 100%;
    margin: 0%;

    border-bottom: #26221f 2.5px solid;
    background: #26221f;
    color: #e9e6e4;

    /* border: blueviolet solid 1px; */
  }

  /* .skill-softskill-head:hover {
    background: #ffc024;
  } */
  .skill-softskill .skill-softskill-head > h3 {
    position: relative;
    left: 0%;

    width: 100%;
    margin: 0%;
    padding: 1.5% 1% 1.5% 3%;

    font-size: 20px;

    /* border: lightgreen solid 1px; */
  }
  .skill-softskill-contents {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    margin: 3% 1% 3% 1%;
  }
  .skill-softskill .skill-softskill-contents > div {
    width: fit-content;
    height: fit-content;

    margin:  0.45vw;
    padding: 1vw 3vw;

    border: #26221f solid 2px;
    border-radius: 12px;
    background: #faf8f7;

    /* border: 1px solid yellow; */
  }
  .skill-softskill .skill-softskill-contents h3 {
    width: max-content;

    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size: 14px;
    color: #26221f;


    /* border: 1px solid yellow; */
  }

  /* Software Box ------------------------------------------------------- */
  .pageSkill .skill-software {
    position: relative;
    margin: 3%;

    font-family: 'IBM Plex Mono', monospace;

    /* border: 1px solid purple;  */
  }

  .pageSkill .skill-software-head h3 {
    position: relative;
    left: 0%;

    width: 100%;
    margin: 0%;
    padding: 3% 1% 3% 3%;

    font-size: 20px;

    /* border: #000 solid 1px; */
  }

  .skill-software-head {
    position: relative;

    border-bottom: #26221f 2.5px solid;
    background: #26221f;
    color: #e9e6e4;

    width: 100%;
  }

  .skill-software-contents {
    position: relative;

    margin: 2% 0%;
  }

  .skill-software .skill-software-contents > div {
    margin:  0;
    padding: 0% 8%;

    /* border: 1px solid yellow; */
  }

  .skill-software .skill-software-contents > div > div {
    padding: 5% 0;

    /* border: 1px solid yellow;  */
  }

  .skill-software-contents h4 {
    position: relative;
    width: 100%;
    margin: 2% 0;
    padding: 0%;

    font-size: 16px;
    font-weight: 400;
  }

  @keyframes move {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 150px;
    }
  }

  /* --------------------------------------------- */
  /* Adobe Ps */
  .skill-software-ps {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-ps > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-ps .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-ps .skillBar .mySkill {
    height: 15px;
    width: 70%;
    margin: 0%;
    padding: 0%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Adobe Ai */
  .skill-software-ai {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-ai > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-ai .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow:#151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-ai .skillBar .mySkill {
    height: 15px;
    width: 75%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Adobe Xd */
  .skill-software-xd {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-xd > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-xd .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-xd .skillBar .mySkill {
    height: 15px;
    width: 90%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }

  /* --------------------------------------------- */
  /* Adobe aero */
  .skill-software-aero {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-aero > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-aero .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-aero .skillBar .mySkill {
    height: 15px;
    width: 100%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Apark AR */
  .skill-software-sparkAR {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-sparkAR > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-sparkAR .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-sparkAR .skillBar .mySkill {
    height: 15px;
    width: 65%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Figma */
  .skill-software-figma {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-figma > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-figma .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-figma .skillBar .mySkill {
    height: 15px;
    width: 90%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Skp */
  .skill-software-skp {
    border-bottom: #26221f solid 1.5px;
  }

  .skill-software-skp > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-skp .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #26221f 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-skp .skillBar .mySkill {
    height: 15px;
    width: 85%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Rhino */
  .skill-software-rhino {
    border-bottom: black solid 1.5px;
  }

  .skill-software-rhino > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-rhino .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #000 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-rhino .skillBar .mySkill {
    height: 15px;
    width: 75%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */
  /* Grasshopper */
  .skill-software-grasshopper > div {
    width: 50%;

    margin: 0%;
    padding: 0%;
  }

  .skill-software-grasshopper .skillBar  {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 3.5% 0%;

    content: '';
    background: #faf8f7;
    border: #000 2px solid;
    border-radius: 3vw;
    /* box-shadow: #151210 2px 2px; */
    
    height: 15px;
    overflow: hidden;
  }
  .skill-software-grasshopper .skillBar:hover {

  }
  .skill-software-grasshopper .skillBar .mySkill {
    height: 15px;
    width: 50%;

    background-color: #e9e6e4;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #26221f, #26221f 3px, #e9e6e4 1px, #e9e6e4 5px );
    border-right: #26221f solid 2px;

    animation: move 10s linear infinite;
  }
  /* --------------------------------------------- */

    /* -------------------------------------------------------------------------------------------------------------- */
    .pageContactInfo {
      position: relative;
      width: 100%;
      height: fit-content;
      
      margin: 0% 0;
      padding: 0% !important;
      overflow: hidden;

      font-family: 'IBM Plex Mono', monospace;

      /* border: red 1px solid; */
    }

    .pageContactInfo .container-fluid {
      margin: 0%;
      padding: 0%;
    }

    .container_address {
      position: relative;

      width: 100%;
      height: 100%;

      margin: 0% !important;
      padding: 0% !important;
      
      border-top: #26221f 5px solid;
      border-bottom: #26221f 2px dashed;

      /* border: green 1px solid; */
    }

    .container_address_head {
      position: relative;

      width: 3.4%;

      background: #26221f;

      /* border: 1px solid blue; */
    }
    .container_address_head > h2{
      position: relative;
      top: 88%;
      left: 1%;

      color: #e9e6e4;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 5px;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);

      /* border: 1px solid green; */
    }

    .container_address_content {
      position: relative;

      width: 96.5%;
      height: 100%;
      right: 0%;
      margin: 0%;
      padding: 3% 5%;

      /* border: 1px solid blue; */
    }

    .container_address_content > .row {
      /* border: #000 solid 3px; */
    }

    .address1 {
      position: relative;

      margin: 0%;
      padding: 0%;

      border-top:#26221f solid 4px ;
      border-bottom:#26221f solid 4px ;

      /* border: 1px solid violet; */
    }

    .address1 div {
      margin: 0%;
      padding: 0%;
    }

    .address1 > div:nth-child(1) {
      position: relative;
      width: 100%;

      border-bottom: #26221f solid 3px;

      /* border: 1px solid red; */
    }

    .address1  > div:nth-child(1) h4 {
      position: relative;
      left: 5%;
      margin: 3% 0% !important;
      font-size: 20px;

      /* border: 1px solid purple; */
    }

    .address1 h6 {
      position: relative;
      /* margin: 4.5% 0%; */

      margin: 5% 0 0 10%;

      font-family: 'IBM Plex Mono', monospace;
      font-size: 14px;
      font-weight: 600;
    }

    .address1 p {
      position: relative;

      margin: 5% 0 0 10%;

      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      font-weight: 400;
    }

    .address1 > div:nth-child(2) img {
      position: relative;

      width: 100%;
      max-width: 300px;
      height: auto;

      /* border: 1px solid yellow; */
    }

    /* --------------- */
    .address2 {
      position: relative;

      margin: 0%;
      padding: 0%;

      border-top:#26221f solid 4px ;
      border-left: #26221f solid 3px;
      border-bottom:#26221f solid 4px ;

      /* border: 1px solid violet; */
    }

    .address2 div {
      margin: 0%;
      padding: 0%;
    }

    .address2 > div:nth-child(1) {
      position: relative;
      width: 100%;

      border-bottom: #26221f solid 2px;

      /* border: 1px solid red; */
    }

    .address2 > div:nth-child(1) h4 {
      position: relative;
      left: 5%;
      margin: 3% 0% !important;
      font-size: 20px;

      /* border: 1px solid purple; */
    }

    .address2 h6 {
      position: relative;

      margin: 5% 0 0 10%;

      font-family: 'IBM Plex Mono', monospace;
      font-size: 14px;
      font-weight: 600;
    }

    .address2 p {
      position: relative;

      margin: 5% 0 0 10%;

      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      font-weight: 400;
    }

    /* -------------------------------------- */

    .container_contact {
      position: relative;

      width: 100%;
      height: 100%;

      margin: 0% !important;
      padding: 0% !important;
      overflow: hidden;
      
      border-top: #26221f 2px dashed;
      border-bottom: #26221f 5px solid;

      /* border: green 1px solid; */
    }

    .container_contact_head {
      position: relative;

      width: 3.4%;

      background: #26221f;
      z-index: 10;

      /* border: 1px solid blue; */
    }
    .container_contact_head > h2{
      position: relative;
      top: 88%;
      left: 1%;

      color: #e9e6e4;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 5px;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);

      /* border: 1px solid green; */
    }

    .head_marquee {
      position: relative;
      width: 505px;
      
      /* border: 1px solid wheat; */
    }

    .container_contact_content {
      position: relative;

      width: 96.5%;
      height: 100%;
      right: 0%;
      margin: 0%;
      padding: 3% 5%;

      /* border: 1px solid blue; */
    }

    .container_contact_content > .row {
      border-top:#26221f solid 4px ;
      border-bottom:#26221f solid 4px ;

      /* border: 1px solid red; */
    }
    
    .contact_content_detail {
      /* border: 1px solid violet; */
    }
    .contact_content_detail .contactInfo_title {
      padding: 2% 0 1.5% 3%;
      border-bottom: #26221f 3px solid;

      /* border: 1px solid greenyellow; */
    }
    
    .contact_content_detail .contactInfo_detail {
      /* border: 1px solid greenyellow; */
    }
    .contact_content_detail .contactInfo_detail > .row > div:nth-child(1) {
      padding: 3% 0% 0 3%;

      /* border: 1px solid yellow; */
    }
    .contact_content_detail .contactInfo_detail > .row > div:nth-child(2) {
      padding: 3% 0% 0 3%;

      /* border: 1px solid yellow; */
    }
    .contact_content_detail h4 {
      font-size: 20px;
    }
    .contact_content_detail h6 {
      font-size: 14px;
      font-weight: 600;
    }
    .contact_content_detail p {
      font-size: 16px;
    }

    .contact_content_qrcode {
      border-left: #26221f 3px solid;
      border-right: #26221f 3px solid;

      /* border: 1px solid violet; */
    }

    .contact_content_hatch {
      position: relative;

      border-left: #26221f solid 3px;
      border-right: #26221f solid 6px;

      background-color: #e9e6e4;
      opacity: 1;
      background: repeating-linear-gradient( 180deg, #26221f, #26221f 10px, #e9e6e4 5.5px, #e9e6e4 30px );

      animation: moveit 5s linear infinite;

      /* border: 1px solid violet; */
    }

    @keyframes moveit {
      0% {
        background-position: 0 150px;
      }
      100% {
        background-position: 0;
      }
    }

    @media screen and (max-width: 992px) {
      /* marquee part */
      .container_address_head > h2,
      .container_contact_head > h2 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
      }
      /* Big box */
      .container_address {
        border-top: #26221f 3.5px solid;
        border-bottom: #26221f 1.5px dashed;
      }
      .container_contact {
        border-top:  #26221f 1.5px dashed;
        border-bottom: #26221f 3.5px solid;
      }
      /* info part */
      .address1,.address2 {
        border-top:#26221f solid 3px ;
        border-bottom:#26221f solid 3px ;
      }
      .address1 > div:nth-child(1),.address1 > div:nth-child(1) {
        border-bottom: #26221f solid 2px;
      }
      .address1 > div:nth-child(1) h4, .address2 > div:nth-child(1) h4 {
        font-size: 16px;
      }
      .address1 h6, .address2 h6 {
        font-size: 11px;
      }
      .address1 p, .address2 p {
        font-size: 13px;
      }
      .container_contact_content > .row {
        border-top:#26221f solid 3px ;
        border-bottom:#26221f solid 3px ;
      }
      .contact_content_detail .contactInfo_title {
        border-bottom: #26221f 2px solid;
      }
      .contact_content_qrcode {
        border-left: #26221f 2px solid;
        border-right: #26221f 2px solid;
      }
      .contact_content_hatch {
        border-left: #26221f solid 2px;
        border-right: #26221f solid 4px;
        background: repeating-linear-gradient( 180deg, #26221f, #26221f 5px, #e9e6e4 5.5px, #e9e6e4 15px );
      }
      .contact_content_detail h4 {
        font-size: 16px;
      }
      .contact_content_detail h6 {
        font-size: 10px;
      }
      .contact_content_detail p {
        font-size: 12px;
      }
    }  

    @media screen and (max-width: 768px) {
      /* marquee part */
      .container_address_head > h2,
      .container_contact_head > h2 {
        top: 99%;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
      }
      .head_marquee {
        width: 985px;
      }
      /* Big box */
      .container_address{
        border-top: #26221f 4px solid;
        border-bottom: #26221f 2px dashed;
      }
      .container_contact {
        border-top:  #26221f 2px dashed;
        border-bottom: #26221f 4px solid;
      }
      /* info part */
      .address1,.address2 {
        border:#26221f solid 3px ;
        /* border-bottom:#000 solid 3px ; */
      }
      /* Hide image */
      .address1 img {
        display: none;
      }
      /* head text box */
      .address1 > div:nth-child(1),
      .address2 > div:nth-child(1) {
        background: #26221f;
      }
      .address1 > div:nth-child(1) h4,
      .address2 > div:nth-child(1) h4 {
        color: #e9e6e4;
      }
      /* Address info box */
      .address1 > div:nth-child(1),.address1 > div:nth-child(1) {
        border-bottom: #26221f solid 2px;
      }
      .address1 > div:nth-child(1) h4, .address2 > div:nth-child(1) h4 {
        font-size: 18px;
      }
      .address1 h6, .address2 h6 {
        font-size: 14px;
        margin: 0%;
        padding: 2% 5%;
      }
      .address1 p, .address2 p {
        font-size: 16px;
        margin: 0%;
        padding: 0% 0% 3% 5%;
      }
      /* Contact */
      .contact_content_detail .contactInfo_detail > .row > div:nth-child(1),
      .contact_content_detail .contactInfo_detail > .row > div:nth-child(1) {
        padding: 1% 0% 1% 3%;
      }
      .container_contact_content > .row {
        border:#26221f solid 3px ;
      }
      .contact_content_detail .contactInfo_title {
        border-bottom: #26221f 2px solid;
        background: #26221f;
        color: #e9e6e4;
      }
      .contact_content_qrcode {
        width: 100%;
        padding: 0 1.5% 0 0;
        
        border-top: #26221f 4px solid !important;
        border-bottom: #26221f 2px solid !important;
        /* border-right: #000 2px solid; */
        transform: rotate(0deg);
        border-left: #26221f solid 2px;
        border-right: #26221f solid 4px;
        background: repeating-linear-gradient( 180deg, #26221f, #26221f 20px, #e9e6e4 15px, #e9e6e4 60px );
        animation: moveit 5s linear infinite;
      }
      .contact_content_qrcode img {
        position: relative;
        left: 0%;
        max-width: 250px;
        width: 50%;
        border-right: #26221f 4px solid;
      }
      .contact_content_detail h4 {
        font-size: 18px;
        padding: 1% 3%;
      }
      .contact_content_detail h6 {
        font-size: 13px;
        margin: 0%;
        padding: 0% 0 0.5% 3%;
      }
      .contact_content_detail p {
        font-size: 15px;
        margin: 0%;
        padding: 0.5% 0% 0.5% 3%;
      }
      .contact_content_detail > .row {
        padding: 0% 0 3% 0;
      }
    }

    @media screen and (max-width: 695px) {
      /* marquee part */
      .container_address_head {
        width: 100%;
        height: 3.5%;
      }
      .container_contact_head {
        position: relative;
        height: 3.5%;
        top: 1px;
        width: 100%;
      }
      .container_address_head > h2{
        margin: 0.1% 0 0 0;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
      .container_contact_head > h2 {
        position: relative;
        margin: 0% 0 0 0;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
      .head_marquee {
        width: 985px;
      }
      /* Big box */
      .container_address{
        border-top: #26221f 4px solid;
        border-bottom: #26221f 2px dashed;
      }
      .container_contact {
        border-top:  #26221f 2px dashed;
        border-bottom: #26221f 4px solid;
      }
      .container_address_content > .row,
      .container_contact_content > .row {
        margin: 0% 0 0% 3.9% !important;
      }
      /* info part */
      .address1,.address2 {
        border:#26221f solid 3px ;
        /* border-bottom:#000 solid 3px ; */
      }
      /* Hide image */
      .address1 img {
        display: none;
      }
      /* head text box */
      .address1 > div:nth-child(1),
      .address2 > div:nth-child(1) {
        background: #26221f;
      }
      .address1 > div:nth-child(1) h4,
      .address2 > div:nth-child(1) h4 {
        color: #e9e6e4;
      }
      /* Address info box */
      .address1 > div:nth-child(1),.address1 > div:nth-child(1) {
        border-bottom: #26221f solid 2px;
      }
      .address1 > div:nth-child(1) h4, .address2 > div:nth-child(1) h4 {
        font-size: 18px;
      }
      .address1 h6, .address2 h6 {
        font-size: 14px;
        margin: 0%;
        padding: 2% 5%;
      }
      .address1 p, .address2 p {
        font-size: 16px;
        margin: 0%;
        padding: 0% 0% 3% 5%;
      }
      /* Contact */
      .contact_content_detail .contactInfo_detail > .row > div:nth-child(1),
      .contact_content_detail .contactInfo_detail > .row > div:nth-child(1) {
        padding: 1% 0% 1% 3%;
      }
      .container_contact_content > .row {
        border:#26221f solid 3px ;
      }
      .contact_content_detail .contactInfo_title {
        border-bottom: #26221f 2px solid;
        background: #26221f;
        color: #e9e6e4;
      }
      .contact_content_qrcode {
        width: 100%;
        padding: 0 1.5% 0 0;
        
        border-top: #26221f 4px solid !important;
        border-bottom: #26221f 2px solid !important;
        /* border-right: #000 2px solid; */
        transform: rotate(0deg);
        border-left: #26221f solid 2px;
        border-right: #26221f solid 4px;
        background: repeating-linear-gradient( 180deg, #26221f, #26221f 20px, #e9e6e4 15px, #e9e6e4 60px );
        animation: moveit 5s linear infinite;
      }
      .contact_content_qrcode img {
        position: relative;
        left: 0%;
        max-width: 250px;
        width: 50%;
        border-right: #26221f 4px solid;
      }
      .contact_content_detail h4 {
        font-size: 18px;
        padding: 1% 3%;
      }
      .contact_content_detail h6 {
        font-size: 13px;
        margin: 0%;
        padding: 0% 0 0.5% 3%;
      }
      .contact_content_detail p {
        font-size: 15px;
        margin: 0%;
        padding: 0.5% 0% 0.5% 3%;
      }
      .contact_content_detail > .row {
        padding: 0% 0 3% 0;
      }
    }
    /* -------------------------------------------------------------------------------------------------------------- */