*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html {
    block-size: 100%;
    inline-size: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;

    background-color: #e9e6e4;
    opacity: 1;
    background-image: radial-gradient(#777675 0.65px, #e9e6e4 0.65px);
    background-size: 13px 13px;
  }

  a {
    color: #26221f;
    text-decoration: none;
    display: inline-block;
    padding: 6.5% 28% 6.5% 28%;
    margin: -6.5% -28% -6.5% -28%;
    z-index: 1;
  }

  .ParentPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding:  17% 35%;
    font-family: 'Roboto Mono', monospace;

    /* border: 1px solid red; */
  }

  .textBox {
    position: relative;
    width: 100%;
    font-size: 32px;
    padding: 15% 5% 15% 20%;
    overflow: hidden;

    border: 5px solid #26221f;
    border-radius: 10px;
    
    background-color: #e9e6e4;
  }

  /* CSS */
  .box {
    position: relative;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 5% 0 0 0;

    border: 3px solid #26221f;
    border-radius: 10px;
    
    overflow: hidden;
    color: #18181a;
    display: inline-block;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #e9e6e4;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.25s ease-in-out;
  }
  
  .box:hover {
    /* box-shadow: 5px 5px #26221f; */
    transform: scale(1.02);
    transition: 100ms ease-in-out;
  }

  .box:active {
    /* box-shadow: 1px 1px #151210; */
    background-color: #151210 !important;
    transform: scale(0.98);
  }
  
  .box span:first-child {
    position: relative;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .box span:last-child {
    color: #26221f;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    padding-top: 4%;

    /* background-color: #ffc024; */
    
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 20%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);

    color: #e9e6e4;

    /* border: blue 1px solid; */
  }
  
  .box:after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: #26221f;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(0deg) scaleY(0);
    z-index: 50;
  }
  
  .box:hover:after {
    transform-origin: top center;
    transform: skewY(0deg) scaleY(2);
  }
  
  .box:hover span:last-child {
    transform: translateX(-50%) translateY(-25%);
    opacity: 1;
    transition: all 550ms cubic-bezier(0.48, 0, 0.12, 1);
  }

  .box:hover span:first-child {
    transform: translateX(-50%) translateY(-45%);
    opacity: 0;
    transition: all 350ms cubic-bezier(0.48, 0, 0.12, 1);

    color: #26221f;
  }